xmlschema/2.3.1/imkad/imkad-aanvullendeprocesinfo/v20190201/IMKAD_AanvullendeProcesInfo_v2_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:api="http://www.kadaster.nl/schemas/imkad/imkad-aanvullendeprocesinfo/v20190201"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:imvert="http://www.imvertor.org/schema/system"
           xmlns:h="http://www.kadaster.nl/schemas/imkad/imkad-historie/v20190201"
           xmlns:p-ref="http://www.kadaster.nl/schemas/imkad/imkad-persoon-ref/v20120508"
           xmlns:s-ref="http://www.kadaster.nl/schemas/imkad/imkad-stuk-ref/v20120508"
           xmlns:ko-ref="http://www.kadaster.nl/schemas/imkad/imkad-kadastraalobject-ref/v20190201"
           xmlns:oz-ref="http://www.kadaster.nl/schemas/imkad/imkad-onroerendezaak-ref/v20120508"
           xmlns:tz-ref="http://www.kadaster.nl/schemas/imkad/imkad-teboekgesteldezaak-ref/v20120508"
           xmlns:t="http://www.kadaster.nl/schemas/imkad/imkad-typen/v20190201"
           targetNamespace="http://www.kadaster.nl/schemas/imkad/imkad-aanvullendeprocesinfo/v20190201"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.2.0-2">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.kadaster.nl/schemas/imkad/imkad-aanvullendeprocesinfo</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/version">2.2.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/phase">2</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/release">20190201</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generated">2020-01-30T14:18:01Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generator">1.58.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/owner">Kadaster</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/file-location">imkad/imkad-aanvullendeprocesinfo/v20190201/IMKAD_AanvullendeProcesInfo_v2_2_0.xsd</xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Dit package bevat de klassen die proces gegevens bevatten die binnen de informatie uitwisseling tussen applicaties van belang zijn. </xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-historie/v20190201"
              schemaLocation="../../../imkad/imkad-historie/v20190201/IMKAD_Historie_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-persoon-ref/v20120508"
              schemaLocation="../../../imkad/imkad-persoon-ref/v20120508/IMKAD_PersoonRef_v1_5_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-stuk-ref/v20120508"
              schemaLocation="../../../imkad/imkad-stuk-ref/v20120508/IMKAD_StukRef_v1_6_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-kadastraalobject-ref/v20190201"
              schemaLocation="../../../imkad/imkad-kadastraalobject-ref/v20190201/IMKAD_KadastraalObjectRef_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-onroerendezaak-ref/v20120508"
              schemaLocation="../../../imkad/imkad-onroerendezaak-ref/v20120508/IMKAD_OnroerendeZaakRef_v1_5_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-teboekgesteldezaak-ref/v20120508"
              schemaLocation="../../../imkad/imkad-teboekgesteldezaak-ref/v20120508/IMKAD_TeboekgesteldeZaakRef_v1_5_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-typen/v20190201"
              schemaLocation="../../../imkad/imkad-typen/v20190201/IMKAD_Typen_v2_2_0.xsd"/>
   <xs:element name="SignaleringPersoon"
               type="api:SignaleringPersoon"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een SignaleringPersoon is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een persoon is vermeld, nog niet (volledig) in de BRK is verwerkt.Het verwerkingsproces bij het Kadaster is nog niet afgerond. Dit betekent dat als er inzage wordt gedaan in de registratie, dat de gegevens van de gesingaleerde persoon mogelijk nog niet zijn bijgewerkt. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SignaleringPersoon" abstract="false">
      <xs:sequence>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorieOR" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="p-ref:_PersoonRef"/>
                  <xs:element ref="p-ref:NietNatuurlijkPersoonRef"/>
                  <xs:element ref="p-ref:NatuurlijkPersoonRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AttenderingKadastraalObject"
               type="api:AttenderingKadastraalObject"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een AttenderingKadastraalObject is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een kadastraal object is vermeld, niet de BRK verwerkt kan worden omdat het niet voldoet niet aan de inschrijving- of verwerkingsvereisten.Het stuk kan pas worden verwerkt nadat door de aanbieder een verbetering ter inschrijving is aanboden. Ook kan het voorkomen dat het stuk door de aanbieder alsnog wordt ingetrokken.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AttenderingKadastraalObject" abstract="false">
      <xs:sequence>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorieOR" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="ko-ref:_KadastraalObjectRef"/>
                  <xs:element ref="oz-ref:_OnroerendeZaakRef"/>
                  <xs:element ref="oz-ref:LeidingnetwerkRef"/>
                  <xs:element ref="oz-ref:PerceelRef"/>
                  <xs:element ref="oz-ref:AppartementsrechtRef"/>
                  <xs:element ref="tz-ref:_TeboekgesteldeZaakRef"/>
                  <xs:element ref="tz-ref:SchipRef"/>
                  <xs:element ref="tz-ref:LuchtvaartuigRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SignaleringKadastraalObject"
               type="api:SignaleringKadastraalObject"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een SignaleringKadastraalObject is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een kadastraal object is vermeld, nog niet (volledig) in de BRK is verwerkt.Het verwerkingsproces bij het Kadaster is nog niet afgerond. Dit betekent dat als er inzage wordt gedaan in de registratie, dat de gegevens van het gesignaleerde Kadastraal object mogelijk nog niet zijn bijgewerkt. </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SignaleringKadastraalObject" abstract="false">
      <xs:sequence>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorieOR" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="ko-ref:_KadastraalObjectRef"/>
                  <xs:element ref="oz-ref:_OnroerendeZaakRef"/>
                  <xs:element ref="oz-ref:LeidingnetwerkRef"/>
                  <xs:element ref="oz-ref:PerceelRef"/>
                  <xs:element ref="oz-ref:AppartementsrechtRef"/>
                  <xs:element ref="tz-ref:_TeboekgesteldeZaakRef"/>
                  <xs:element ref="tz-ref:SchipRef"/>
                  <xs:element ref="tz-ref:LuchtvaartuigRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AttenderingPersoon"
               type="api:AttenderingPersoon"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een AttenderingPersoon is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een persoon is vermeld, niet de BRK verwerkt kan worden omdat het niet voldoet niet aan de inschrijving- of verwerkingsvereisten.Het stuk kan pas worden verwerkt nadat door de aanbieder een verbetering ter inschrijving is aanboden. Ook kan het voorkomen dat het stuk door de aanbieder alsnog wordt ingetrokken.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AttenderingPersoon" abstract="false">
      <xs:sequence>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorieOR" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="p-ref:_PersoonRef"/>
                  <xs:element ref="p-ref:NietNatuurlijkPersoonRef"/>
                  <xs:element ref="p-ref:NatuurlijkPersoonRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ClassificatiePerceel"
               type="api:ClassificatiePerceel"
               abstract="false">
      <xs:annotation>
         <xs:appinfo source="http://www.imvertor.org/data-info/uri">http://www.kadaster.nl/schemas/waardelijsten/ClassificatiePerceel</xs:appinfo>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Waardelijst is een samengesteld datatype voor het weergeven van een gegeven binnen een extern beheerde referentielijst. Het datatye bestaat uit een code en een waarde. Bij attributen die van type Waardelijst zijn, word aangegeven welke referentielijst bedoeld is met de tagged value "data locatie" .</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="ClassificatiePerceel" abstract="false">
      <xs:complexContent>
         <xs:extension base="t:Waardelijst"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
