xmlschema/201506/IMKAD/KIMBAG-Adres/v20150301/IMKAD_KIMBAGAdres_v2_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:kimbaga="http://www.kadaster.nl/schemas/IMKAD/KIMBAG-Adres/v20150301"
           xmlns:kimbaga-ref="http://www.kadaster.nl/schemas/IMKAD/KIMBAG-Adres-ref/v20150301"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kadaster.nl/schemas/IMKAD/KIMBAG-Adres/v20150301"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.2.0-2">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.kadaster.nl/schemas/IMKAD/KIMBAG-Adres</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/version">2.2.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/phase">2</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/release">20150301</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generated">2015-06-10 13:27:00</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/svn">$Id$</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/file-location">KIMBAG-Adres/v20150301/IMKAD_KIMBAGAdres_v2_2_0.xsd</xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
            This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
        </xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Dit package bevat alle klassen die behoren bij de representatie van een binnenlands adres. Dit adres is gebaseerd op het KIMBAG model.</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/KIMBAG-Adres-ref/v20150301"
              schemaLocation="../../KIMBAG-Adres-ref/v20150301/IMKAD_KIMBAGAdresRef_v2_2_0.xsd"/>
   <xs:element name="_AdresseerbaarObject"
               type="kimbaga:_AdresseerbaarObject"
               abstract="true"/>
   <xs:complexType name="_AdresseerbaarObject" abstract="true">
      <xs:sequence>
         <xs:element name="hoofdadres" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="kimbaga-ref:NummeraanduidingRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="nevenadres" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="kimbaga-ref:NummeraanduidingRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Ligplaats" type="kimbaga:Ligplaats" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Defintie:
Een LIGPLAATS is een door het bevoegde gemeentelijke orgaan als
zodanig aangewezen plaats in het water al dan niet aangevuld met
een op de oever aanwezig terrein of een gedeelte daarvan, die
bestemd is voor het permanent afmeren van een voor woon-,
bedrijfsmatige of recreatieve doeleinden geschikt vaartuig.

Artikel 1 Wet basisregistraties adressen en gebouwen</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Ligplaats" abstract="false">
      <xs:complexContent>
         <xs:extension base="kimbaga:_AdresseerbaarObject">
            <xs:sequence>
               <xs:element name="identificatie"
                           type="kimbaga:Objectnummer"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis:
Ligplaats wordt de Gemeente uniek geïdentificeerd door identificatie met waarde

Definitie:
Identificatie is een door de Gemeente vastgestelde unieke logische identificatie van een ligplaats.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="inOnderzoek"
                           type="kimbaga:Indicatie"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis
Ligplaats heeft een authentieke gegeven waarvan de juistheid door de Gemeente wordt onderzocht

Definitie
In onderzoek geeft dat de ligplaats in onderzoek is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Nummeraanduiding"
               type="kimbaga:Nummeraanduiding"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Definitie
Een NUMMERAANDUIDING is een door het bevoegde gemeentelijke orgaan als zodanig toegekende aanduiding van een verblijfsobject,een standplaats of een ligplaats.

Artikel 1 Wet basisregistraties adressen en gebouwen

Toelichting:
In het huidige bijhoudingsproces van de BRK worden de gegevens van Nummeraanduiding initieel geregistreerd conform de Openbare registers. Kort daarna worden deze gegevens vervangen door de BAG-gegevens.
Wanneer nummeraanduiding nog niet conform de BAG is vermeld, dan is geen identificatie toegekend</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Nummeraanduiding" abstract="false">
      <xs:sequence>
         <xs:element name="identificatie"
                     minOccurs="1"
                     maxOccurs="1"
                     nillable="true">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis:
Ligplaats wordt de Gemeente uniek geïdentificeerd door identificatie met waarde

Definitie:
Identificatie is een door de Gemeente vastgestelde unieke logische identificatie van een ligplaats.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="kimbaga:Objectnummer">
                     <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisnummer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis:
Nummeraanduiding wordt mede aangeduid door huisnummer met waarde.
Definitie:
Een door of namens het gemeentebestuur ten aanzien van een adresseerbaar object toegekende nummering</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="huisletter" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis:
Nummeraanduiding wordt mede aangeduid door huisletter met waarde.

Definitie:
Een door of namens het gemeentebestuur ten aanzien van een adresseerbaar object toegekende toevoeging aan een huisnummer in de vorm van een alfanumeriek teken</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[a-zA-Z]"/>
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="huisnummertoevoeging" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis:
Nummeraanduiding wordt mede aangeduid door huisnummer toevoeging met waarde.

Definitie:
Een door of namens het gemeentebestuur ten aanzien van een adresseerbaar object toegekende nadere toevoeging aan een huisnummer of een combinatie van huisnummer en huisletter</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([a-z,A-Z,0-9])+"/>
                  <xs:maxLength value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="postcode" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Defintie:
De officiële Nederlandse TPG codering, bestaande uit een numerieke woonplaatscode en een alfabetische lettercode.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="[1-9][0-9][0-9][0-9][A-Z][A-Z]"/>
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis
Ligplaats heeft een authentieke gegeven waarvan de juistheid door de Gemeente wordt onderzocht

Definitie
In onderzoek geeft dat de ligplaats in onderzoek is.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="kimbaga:Indicatie">
                     <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="gerelateerdeWoonplaats" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Unieke aanduiding van de woonplaats waarbinnen het
object waaraan de NUMMERAANDUIDING is toegekend
is gelegen. Dit gegeven wordt opgenomen indien het object is gelegen in een andere woonplaats dan de openbare ruimte waaraan de nummeraanduiding is gerelateerd.</xs:documentation>
               </xs:annotation>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="kimbaga-ref:WoonplaatsRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="gerelateerdeOpenbareRuimte" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
De unieke aanduiding van een OPENBARE RUIMTE
waaraan een adresseerbaar object is gelegen.</xs:documentation>
               </xs:annotation>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="kimbaga-ref:OpenbareRuimteRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="OpenbareRuimte"
               type="kimbaga:OpenbareRuimte"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Definitie
Een OPENBARE RUIMTE is een door het bevoegde gemeentelijke
orgaan als zodanig aangewezen en van een naam voorziene
buitenruimte die binnen één woonplaats is gelegen.

Artikel 1 Wet basisregistraties adressen en gebouwen
</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="OpenbareRuimte" abstract="false">
      <xs:sequence>
         <xs:element name="openbareRuimteNaam" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Definitie
Een naam die aan een OPENBARE RUIMTE is toegekend in een daartoe strekkend formeel gemeentelijk besluit.

Grondslagen 
Basis Registratie Adressen versie 2.0 </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis
Ligplaats heeft een authentieke gegeven waarvan de juistheid door de Gemeente wordt onderzocht

Definitie
In onderzoek geeft dat de ligplaats in onderzoek is.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="kimbaga:Indicatie">
                     <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="gerelateerdeWoonplaats" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:annotation>
                  <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Unieke aanduiding van de woonplaats waarbinnen het
object waaraan de NUMMERAANDUIDING is toegekend
is gelegen. Dit gegeven wordt opgenomen indien het object is gelegen in een andere woonplaats dan de openbare ruimte waaraan de nummeraanduiding is gerelateerd.</xs:documentation>
               </xs:annotation>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="kimbaga-ref:WoonplaatsRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="Standplaats" type="kimbaga:Standplaats" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Definitie
Een STANDPLAATS is een door het bevoegde gemeentelijke orgaan
als zodanig aangewezen terrein of gedeelte daarvan dat bestemd is
voor het permanent plaatsen van een niet direct en niet duurzaam
met de aarde verbonden en voor woon -, bedrijfsmatige, of
recreatieve doeleinden geschikte ruimte.

Artikel 1 Wet basisregistraties adressen en gebouwen
</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Standplaats" abstract="false">
      <xs:complexContent>
         <xs:extension base="kimbaga:_AdresseerbaarObject">
            <xs:sequence>
               <xs:element name="identificatie"
                           type="kimbaga:Objectnummer"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis:
Ligplaats wordt de Gemeente uniek geïdentificeerd door identificatie met waarde

Definitie:
Identificatie is een door de Gemeente vastgestelde unieke logische identificatie van een ligplaats.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="inOnderzoek"
                           type="kimbaga:Indicatie"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis
Ligplaats heeft een authentieke gegeven waarvan de juistheid door de Gemeente wordt onderzocht

Definitie
In onderzoek geeft dat de ligplaats in onderzoek is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Verblijfsobject"
               type="kimbaga:Verblijfsobject"
               abstract="false"/>
   <xs:complexType name="Verblijfsobject" abstract="false">
      <xs:complexContent>
         <xs:extension base="kimbaga:_AdresseerbaarObject">
            <xs:sequence>
               <xs:element name="identificatie"
                           type="kimbaga:Objectnummer"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis:
Ligplaats wordt de Gemeente uniek geïdentificeerd door identificatie met waarde

Definitie:
Identificatie is een door de Gemeente vastgestelde unieke logische identificatie van een ligplaats.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="inOnderzoek"
                           type="kimbaga:Indicatie"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis
Ligplaats heeft een authentieke gegeven waarvan de juistheid door de Gemeente wordt onderzocht

Definitie
In onderzoek geeft dat de ligplaats in onderzoek is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Woonplaats" type="kimbaga:Woonplaats" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Definitie
Een WOONPLAATS is een door het bevoegde gemeentelijke orgaan
als zodanig aangewezen en van een naam voorzien gedeelte van
het grondgebied van de gemeente.

Artikel 1 Wet basisregistraties adressen en gebouwen
</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Woonplaats" abstract="false">
      <xs:sequence>
         <xs:element name="woonplaatsNaam" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="1" maxOccurs="1" nillable="true">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">
---Bedrijfsobjectenmodel_Kadaster (20141001)---
Betekenis
Ligplaats heeft een authentieke gegeven waarvan de juistheid door de Gemeente wordt onderzocht

Definitie
In onderzoek geeft dat de ligplaats in onderzoek is.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="kimbaga:Indicatie">
                     <xs:attribute name="nilReason" type="xs:string" use="optional"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="Indicatie">
      <xs:restriction base="xs:string">
         <xs:pattern value="J|N"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Objectnummer">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Uniek objectaanduiding binnen een gemeente, bestaande uit 16 cijfers.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="[0-9]{16}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
