xmlschema/2.3.1/imkad/imkad-persoon/v20190201/IMKAD_Persoon_v2_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:p="http://www.kadaster.nl/schemas/imkad/imkad-persoon/v20190201"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:imvert="http://www.imvertor.org/schema/system"
           xmlns:kimnhrr="http://www.kadaster.nl/schemas/imkad/kimnhr-rechtspersoon/v20190201"
           xmlns:t="http://www.kadaster.nl/schemas/imkad/imkad-typen/v20190201"
           xmlns:kimbrpp="http://www.kadaster.nl/schemas/imkad/kimbrp-persoon/v20190201"
           xmlns:h="http://www.kadaster.nl/schemas/imkad/imkad-historie/v20190201"
           xmlns:a-ref="http://www.kadaster.nl/schemas/imkad/imkad-adres-ref/v20141101"
           xmlns:s-ref="http://www.kadaster.nl/schemas/imkad/imkad-stuk-ref/v20120508"
           targetNamespace="http://www.kadaster.nl/schemas/imkad/imkad-persoon/v20190201"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.2.0-2">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.kadaster.nl/schemas/imkad/imkad-persoon</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/version">2.2.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/phase">2</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/release">20190201</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generated">2020-01-30T14:18:01Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generator">1.58.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/owner">Kadaster</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/file-location">imkad/imkad-persoon/v20190201/IMKAD_Persoon_v2_2_0.xsd</xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Dit package bevat alle klassen die behoren bij de representatie van personen.</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/kimnhr-rechtspersoon/v20190201"
              schemaLocation="../../../imkad/kimnhr-rechtspersoon/v20190201/IMKAD_KIMNHRRechtspersoon_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-typen/v20190201"
              schemaLocation="../../../imkad/imkad-typen/v20190201/IMKAD_Typen_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/kimbrp-persoon/v20190201"
              schemaLocation="../../../imkad/kimbrp-persoon/v20190201/IMKAD_KIMBRPPersoon_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-historie/v20190201"
              schemaLocation="../../../imkad/imkad-historie/v20190201/IMKAD_Historie_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-adres-ref/v20141101"
              schemaLocation="../../../imkad/imkad-adres-ref/v20141101/IMKAD_AdresRef_v1_7_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-stuk-ref/v20120508"
              schemaLocation="../../../imkad/imkad-stuk-ref/v20120508/IMKAD_StukRef_v1_6_0.xsd"/>
   <xs:element name="OverheidsOrganisatie"
               type="p:OverheidsOrganisatie"
               abstract="false"/>
   <xs:complexType name="OverheidsOrganisatie" abstract="false">
      <xs:sequence>
         <xs:element name="oIN" minOccurs="1" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="NietNatuurlijkPersoon"
               type="p:NietNatuurlijkPersoon"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een niet-natuurlijk persoon is een rechtspersoon of een samenwerkingsverband zonder rechtspersoonlijkheid.(https://tax.kadaster.nl/doc/begrip/Niet-natuurlijk_persoon)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="NietNatuurlijkPersoon" abstract="false">
      <xs:complexContent>
         <xs:extension base="p:_Persoon">
            <xs:sequence>
               <xs:element name="statutaireNaam" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Statutaire naam is de naam van de Niet-Natuurlijk Persoon zoals die statutair is vastgelegd. </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="200"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="rechtsvorm"
                           type="kimnhrr:Rechtsvorm"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Rechtsvorm is de rechtsvorm van de Rechtspersoon.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="statutaireZetel" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Statutaire zetel is de plaats waar een Rechtspersoon volgens de statuten gevestigd is.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="betreft" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kimnhrr:Rechtspersoon" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="identificeertZichAls" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Koppeling naar het OIN.Beschikbaar voor organisaties met een publieke taak, ten behoeve van identificatie in het kader inschrijvingen in de BRK-PB. Niet bedoeld voor authenticatie. </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="p:OverheidsOrganisatie" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="NaamOpenbaarRegister"
               type="p:NaamOpenbaarRegister"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">NaamOpenbaarRegister is gegevensgroep waarin, indien van toepassing, een afwijkende schrijfwijze van de naam van een persoon volgens het openbare register van het Kadaster wordt vastgelegd.De NaamOpenbaarRegister is zowel voor een natuurlijk persoon als niet natuurlijk persoon van toepassing.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="NaamOpenbaarRegister" abstract="false">
      <xs:sequence>
         <xs:element name="naam" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Naam van een rechtspersoon in het opebaar register.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="320"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="NatuurlijkPersoon"
               type="p:NatuurlijkPersoon"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een natuurlijk persoon is een mens als subject en drager van rechten en plichten. ( https://tax.kadaster.nl/doc/begrip/Natuurlijk_persoon)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="NatuurlijkPersoon" abstract="false">
      <xs:complexContent>
         <xs:extension base="p:_Persoon">
            <xs:sequence>
               <xs:element name="indicatieOverleden"
                           type="xs:boolean"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Natuurlijk persoon is al dan niet overleden en is niet gekoppeld aan de BRP.DefinitieIndicatie Overleden is een indicatie of de persoon al dan niet overleden is. ToelichtingDeze indicatie is enkel van belang als de gegevens uit de BRP niet beschikbaar zijnDe datum van overlijden is soms niet bekend, maar wel dat iemand overleden is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="indicatieAfschermingPersoonsgegevens"
                           type="xs:boolean"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Indicatie Afscherming Persoonsgegevens is een indicatie om aan te geven of een persoon moet worden afgeschermd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="betreft" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="kimbrpp:GeregistreerdPersoon" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="_Persoon" type="p:_Persoon" abstract="true">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een persoon is een natuurlijk persoon of een niet-natuurlijk persoon. (https://tax.kadaster.nl/doc/begrip/Persoon)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="_Persoon" abstract="true">
      <xs:sequence>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorieOR" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="identificatie"
                     type="t:NEN3610ID"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Identificatie is een door het Kadaster toegekend landelijk uniek nummer aan een object binnen de kadastrale registratie. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="beschikkingsbevoegdheid"
                     type="p:Beschikkingsbevoegdheid"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Beschikkingsbevoegdheid is een aanduiding van de beschikkingsbevoegdheid van een persoon. De waarden zijn opgenomen in een waardelijst. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="metNaamOpenbaarRegister" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="p:NaamOpenbaarRegister" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="indicatieNietToonbareDiakriet"
                     type="xs:boolean"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Indicatie niet toonbare diakriet geeft aan of de naam van een persoon diakrieten bevat die niet getoond kunnen worden. Deze aanduiding was in het verleden nodig omdat de systemen niet alle diakrieten konden vastleggen en weergeven. Dit kan spelen bij personen die voor 2019 zijn geregistreerd in de BRK. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="postlocatie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Postadres.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="a-ref:_AdresLocatieRef"/>
                  <xs:element ref="a-ref:PostbusLocatieRef"/>
                  <xs:element ref="a-ref:_ObjectlocatieRef"/>
                  <xs:element ref="a-ref:ObjectlocatieBuitenlandRef"/>
                  <xs:element ref="a-ref:ObjectlocatieBinnenlandRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="woonlocatie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Toelichting:Bij een Persoon is de woonlocatie altijd gevuld, tenzij een persoon vertrokken is naar het buitenland en het buitenlandse adres onbekend is. Dan is in GeregistreerdPersoon landWaarNaarVertrokken gevuld. </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="a-ref:_ObjectlocatieRef"/>
                  <xs:element ref="a-ref:ObjectlocatieBuitenlandRef"/>
                  <xs:element ref="a-ref:ObjectlocatieBinnenlandRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="isVermeldIn" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="s-ref:StukdeelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="Beschikkingsbevoegdheid"
               type="p:Beschikkingsbevoegdheid"
               abstract="false">
      <xs:annotation>
         <xs:appinfo source="http://www.imvertor.org/data-info/uri">http://www.kadaster.nl/schemas/waardelijsten/Beschikkingsbevoegdheid</xs:appinfo>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Beschikkingsbevoegdheid" abstract="false">
      <xs:complexContent>
         <xs:extension base="t:Waardelijst"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
