xmlschema/2.1.1/IMKAD/IMKAD-bag-adres/v20111122/IMKAD_BagAdres_v2_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:BagAdres="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres/v20111122"
           xmlns:Adres="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres/v20120508"
           xmlns:BagAdresRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres-ref/v20111122"
           xmlns:Typen="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
           xmlns:GML3="http://www.opengis.net/gml/3.2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres/v20111122"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.1.1-3">
   <xs:annotation>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/uri">http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/version">2.1.1</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/phase">3</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/release">20111122</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/svn">$Id$</xs:appinfo>
      <xs:documentation source="http://www.kadaster.nl/schema-info/file-location">IMKAD-bag-adres/v20111122/IMKAD_BagAdres_v2_1_1.xsd</xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/conversion">
        Dit schema is samengesteld in overeenstemming met de codeerregels vastgelegd in  
        "ISO 19118: Text of 19118 Geographic information - Encoding, as sent to the ISO Central 
        Secretariat for publication"
    </xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Dit package bevat alle klassen die behoren bij de representatie van BAG adressen.</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres/v20120508"
              schemaLocation="../../IMKAD-adres/v20120508/IMKAD_Adres_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres-ref/v20111122"
              schemaLocation="../../IMKAD-bag-adres-ref/v20111122/IMKAD_BagAdresRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
              schemaLocation="../../IMKAD-typen/v20111122/IMKAD_Typen_v2_1_1.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2"
              schemaLocation="../../../gml/3.2.1/gml.xsd"/>
   <xs:element name="_AdresseerbaarObject" type="BagAdres:_AdresseerbaarObject"
               abstract="true"
               substitutionGroup="Adres:_ObjectlocatieBinnenland"/>
   <xs:complexType name="_AdresseerbaarObject" abstract="true">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een ligplaats, verblijfsobject of standplaats.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Adres:_ObjectlocatieBinnenland">
            <xs:sequence>
               <xs:element name="BAGIdentificatie" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Identificatie is vastgelegd als GGGGTTNNNNNNNNNN waarbij GGGG = gemeentecode, TT = objecttypecode, NNNNNNNNNN = binnen een gemeente uniek tiencijferig nummer.

Zie ook Aansluiten op de basisregistraties adressen en
gebouwen;
Handreiking voor afnemers van de BAG,
Versie 2009</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="16"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="hoofdadres" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="BagAdresRef:NummerAanduidingRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="nevenadres" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="BagAdresRef:NummerAanduidingRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Bron" type="BagAdres:Bron" abstract="false"/>
   <xs:complexType name="Bron" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Nieuwe nummeraanduidingen, woonplaatsen of openbare ruimten worden in de Basis Registratie Adressen opgenomen op basis van daartoe aangewezen brondocumenten waarin het ontstaan van de nummeraanduiding als zodanig is vastgelegd.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="documentdatum" type="xs:date" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De datum waarop het brondocument is vastgesteld, op
basis waarvan een opname, mutatie of een verwijdering
van gegevens ten aanzien van een nummeraanduiding, openbare ruimte of woonplaats heeft plaatsgevonden. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="documentnummer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De unieke aanduiding van het brondocument op basis
waarvan een opname, mutatie of een verwijdering van
gegevens ten aanzien van een nummeraanduiding, openbare ruimte of woonplaats heeft plaatsgevonden, binnen een gemeente. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Ligplaats" type="BagAdres:Ligplaats" abstract="false"
               substitutionGroup="BagAdres:_AdresseerbaarObject"/>
   <xs:complexType name="Ligplaats" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een LIGPLAATS is een formeel door de gemeenteraad als zodanig aangewezen plaats in het water, al dan niet aangevuld met een op de oever aanwezig terrein of een gedeelte daarvan, dat bestemd is voor het permanent afmeren van een voor woon-, bedrijfsmatige- of recreatieve doeleinden geschikt vaartuig.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="BagAdres:_AdresseerbaarObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="NummerAanduiding" type="BagAdres:NummerAanduiding" abstract="false"/>
   <xs:complexType name="NummerAanduiding" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een NUMMERAANDUIDING is een door de gemeenteraad als
zodanig toegekende aanduiding van een adresseerbaar object.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BAGIdentificatie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">BAG identificatie van een nummeraanduiding.

Indien dit veld gevuld is betekent dit dat de bijbehorende gegevens uit BAG zijn. Indien dit veld niet gevuld is, zijn de bijbehorende gegevens niet-authentieke Kadaster-gegevens.

Alleen als de BAG identificatie gevuld is, kan hierop teruggemeld worden.

Identificatie is vastgelegd als GGGGTTNNNNNNNNNN waarbij GGGG = gemeentecode, TT = objecttypecode, NNNNNNNNNN = binnen een gemeente uniek tiencijferig nummer.

Zie ook Aansluiten op de basisregistraties adressen en
gebouwen;
Handreiking voor afnemers van de BAG,
Versie 2009</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="huisnummer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende nummering. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="officieel" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding waarmee kan worden aangegeven dat
een object in de registratie is opgenomen als gevolg van
een feitelijke constatering, zonder dat er op het moment
van opname sprake is van een formele grondslag voor
deze opname. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="huisletter" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende toevoeging
aan een huisnummer in de vorm van een alfanumeriek
teken. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="huisnummertoevoeging" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een door of namens het gemeentebestuur ten aanzien
van een adresseerbaar object toegekende nadere
toevoeging aan een huisnummer of een combinatie van
huisnummer en huisletter. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="postcode" type="Typen:TypePostcode" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De door TPG vastgestelde code behorende bij een
bepaalde combinatie van een straatnaam en een
huisnummer. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tijdvakgeldigheid" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een periode waarin de gegevens die worden
      bijgehouden over een huisnummeraanduiding geldig zijn.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="BagAdres:Tijdvakgeldigheid" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding waarmee wordt aangegeven dat een
onderzoek wordt uitgevoerd naar de juistheid van een of
meerdere gegevens van het betreffende object. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="typeAdresseerbaarObject" type="Typen:Waardelijst" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De aard van een als zodanig benoemde
NUMMERAANDUIDING. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bron" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="BagAdres:Bron" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="nummerAanduidingStatus" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De fase van de levenscyclus van een
NUMMERAANDUIDING, waarin de betreffende
NUMMERAANDUIDING zich bevindt. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="gerelateerdeWoonplaats" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="BagAdresRef:WoonplaatsRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="gerelateerdeOpenbareRuimte" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="BagAdresRef:OpenbareRuimteRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="OpenbareRuimte" type="BagAdres:OpenbareRuimte" abstract="false"/>
   <xs:complexType name="OpenbareRuimte" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een OPENBARE RUIMTE is een door de gemeenteraad als
zodanig aangewezen benaming van een binnen 1 woonplaats
gelegen buitenruimte.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BAGIdentificatie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De unieke aanduiding van een OPENBARE RUIMTE.

Indien dit veld gevuld is betekent dit dat de bijbehorende gegevens uit BAG zijn. Indien dit veld niet gevuld is, zijn de bijbehorende gegevens niet-authentieke Kadaster-gegevens.

Alleen als de BAG identificatie gevuld is, kan hierop teruggemeld worden.

Identificatie is vastgelegd als GGGGTTNNNNNNNNNN waarbij GGGG = gemeentecode, TT = objecttypecode, NNNNNNNNNN = binnen een gemeente uniek tiencijferig nummer.

Zie ook Aansluiten op de basisregistraties adressen en
gebouwen;
Handreiking voor afnemers van de BAG,
Versie 2009</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="16"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="openbareRuimteNaam" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een naam die aan een OPENBARE RUIMTE is toegekend in een daartoe strekkend formeel gemeentelijk besluit. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="officieel" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding waarmee kan worden aangegeven dat
een object in de registratie is opgenomen als gevolg van
een feitelijke constatering, zonder dat er op het moment
van opname sprake is van een formele grondslag voor
deze opname. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="tijdvakgeldigheid" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een periode waarin de gegevens die worden
      bijgehouden over een openbare ruimte geldig zijn.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="BagAdres:Tijdvakgeldigheid" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding waarmee wordt aangegeven dat een
onderzoek wordt uitgevoerd naar de juistheid van een of
meerdere gegevens van het betreffende object. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bron" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="BagAdres:Bron" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="openbareRuimteStatus" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De fase van de levenscyclus van een OPENBARE
RUIMTE, waarin de betreffende OPENBARE RUIMTE
zich bevindt. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="gerelateerdeWoonplaats" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="BagAdresRef:WoonplaatsRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="openbareRuimteType" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De aard van de als zodanig benoemde openbare ruimte.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="Standplaats" type="BagAdres:Standplaats" abstract="false"
               substitutionGroup="BagAdres:_AdresseerbaarObject"/>
   <xs:complexType name="Standplaats" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een STANDPLAATS is een formeel door de gemeenteraad als zodanig aangewezen terrein of een gedeelte daarvan, dat bestemd is voor het permanent plaatsen van een niet direct en duurzaam met de aarde verbonden en voor woon -, bedrijfsmatige - of recreatieve doeleinden geschikte ruimte.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="BagAdres:_AdresseerbaarObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Tijdvakgeldigheid" type="BagAdres:Tijdvakgeldigheid" abstract="false"/>
   <xs:complexType name="Tijdvakgeldigheid" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een periode waarin een of meer gegevens die worden bijgehouden over een nummeraanduiding, openbare ruimte of woonplaats een wijziging hebben ondergaan.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="begindatumTijdvakGeldigheid" type="xs:date" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De begindatum van een periode waarin er geen wijzigingen hebben plaatsgevonden in de gegevens die worden bijgehouden over een OPENBARE RUIMTE. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="einddatumTijdvakGeldigheid" type="xs:date" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De einddatum van een periode waarin er geen wijzigingen hebben plaatsgevonden in de gegevens die worden bijgehouden over een OPENBARE RUIMTE. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Verblijfsobject" type="BagAdres:Verblijfsobject" abstract="false"
               substitutionGroup="BagAdres:_AdresseerbaarObject"/>
   <xs:complexType name="Verblijfsobject" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een VERBLIJFSOBJECT is de kleinste binnen één of meerdere panden gelegen en voor woon -, bedrijfsmatige - of recreatieve doeleinden geschikte eenheid van gebruik, die ontsloten wordt via een eigen toegang vanaf de openbare weg, een erf of een gedeelde verkeersruimte en die onderwerp kan zijn van rechtshandelingen.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="BagAdres:_AdresseerbaarObject">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Woonplaats" type="BagAdres:Woonplaats" abstract="false"/>
   <xs:complexType name="Woonplaats" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een WOONPLAATS is een door de gemeenteraad als zodanig aangewezen gedeelte van het gemeentelijk grondgebied.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BAGIdentificatie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De landelijk unieke aanduiding van een WOONPLAATS. 

Indien dit veld gevuld is betekent dit dat de bijbehorende gegevens uit BAG zijn. Indien dit veld niet gevuld is, zijn de bijbehorende gegevens niet-authentieke Kadaster-gegevens.

Alleen als de BAG identificatie gevuld is, kan hierop teruggemeld worden.

IWoonplaatsen hebben een unieke woonplaatscode van vier cijfers

Zie ook Aansluiten op de basisregistraties adressen en
gebouwen;
Handreiking voor afnemers van de BAG,
Versie 2009</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="woonplaatsNaam" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De woonplaatsen worden vastgesteld door de gemeenten.
De vastgestelde woonplaatsen worden door een
beheerder van een landelijke woonplaatsentabel voorzien
van een unieke aanduiding, te vergelijken met de
gemeentecode volgens GBA tabel 33. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="woonplaatsGeometrie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De tweedimensionale geometrische representatie van het
vlak dat wordt gevormd door de omtrekken van een
woonplaats. </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="GML3:Surface" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="officieel" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding waarmee kan worden aangegeven dat
een object in de registratie is opgenomen als gevolg van
een feitelijke constatering, zonder dat er op het moment
van opname sprake is van een formele grondslag voor
deze opname.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="tijdvakGeldigheid" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een periode waarin de gegevens die worden
      bijgehouden over een WOONPLAATS geldig zijn.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="BagAdres:Tijdvakgeldigheid" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding waarmee wordt aangegeven dat een
onderzoek wordt uitgevoerd naar de juistheid van een of
meerdere gegevens van het betreffende object. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bron" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="BagAdres:Bron" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="woonplaatsStatus" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De fase van de levenscyclus van een WOONPLAATS,
waarin de betreffende WOONPLAATS zich bevindt. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
</xs:schema>