xmlschema/2.1.1/IMKAD/IMKAD-stuk/v20120508/IMKAD_Stuk_v2_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:Stuk="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk/v20120508"
           xmlns:NEN3610="http://www.geonovum.nl/NEN3610/schemas/v20110301"
           xmlns:BrpPersoonRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-brp-persoon-ref/v20120508"
           xmlns:Historie="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20120508"
           xmlns:KadastraalObjectRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-kadastraalobject-ref/v20120508"
           xmlns:NhrRechtspersoonRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-nhr-rechtspersoon-ref/v20120508"
           xmlns:OnroerendeZaakRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20120508"
           xmlns:PersoonRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-persoon-ref/v20120508"
           xmlns:StukRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20120508"
           xmlns:TeboekgesteldeZaakRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-teboekgesteldezaak-ref/v20120508"
           xmlns:Typen="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk/v20120508"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.1.1-3">
   <xs:annotation>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/uri">http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/version">2.1.1</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/phase">3</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/release">20120508</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/svn">$Id$</xs:appinfo>
      <xs:documentation source="http://www.kadaster.nl/schema-info/file-location">IMKAD-stuk/v20120508/IMKAD_Stuk_v2_1_1.xsd</xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/conversion">
        Dit schema is samengesteld in overeenstemming met de codeerregels vastgelegd in  
        "ISO 19118: Text of 19118 Geographic information - Encoding, as sent to the ISO Central 
        Secretariat for publication"
    </xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Dit package bevat alle klassen die behoren bij de representatie van kadastrale stukken.</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.geonovum.nl/NEN3610/schemas/v20110301"
              schemaLocation="../../../NEN3610/v20110301/NEN3610_NEN3610_v1_0_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-brp-persoon-ref/v20120508"
              schemaLocation="../../IMKAD-brp-persoon-ref/v20120508/IMKAD_BrpPersoonRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20120508"
              schemaLocation="../../IMKAD-historie/v20120508/IMKAD_Historie_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-kadastraalobject-ref/v20120508"
              schemaLocation="../../IMKAD-kadastraalobject-ref/v20120508/IMKAD_KadastraalObjectRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-nhr-rechtspersoon-ref/v20120508"
              schemaLocation="../../IMKAD-nhr-rechtspersoon-ref/v20120508/IMKAD_NhrRechtspersoonRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20120508"
              schemaLocation="../../IMKAD-onroerendezaak-ref/v20120508/IMKAD_OnroerendeZaakRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-persoon-ref/v20120508"
              schemaLocation="../../IMKAD-persoon-ref/v20120508/IMKAD_PersoonRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20120508"
              schemaLocation="../../IMKAD-stuk-ref/v20120508/IMKAD_StukRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-teboekgesteldezaak-ref/v20120508"
              schemaLocation="../../IMKAD-teboekgesteldezaak-ref/v20120508/IMKAD_TeboekgesteldeZaakRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
              schemaLocation="../../IMKAD-typen/v20111122/IMKAD_Typen_v2_1_1.xsd"/>
   <xs:element name="Bijlage" type="Stuk:Bijlage" abstract="false"/>
   <xs:complexType name="Bijlage" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een bijlage is een bij de akte behorend onderdeel als toevoeging op het stuk. De bijlage kan bij de akte gevoegd zijn, ofwel apart zijn aangeboden. Alle bijlagen (ook die behorend bij TIA-stukken van voor 1999) worden alsnog gescand.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="aard" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aard bijlage is een aanduiding voor de aard van een bij de akte behorend onderdeel als toevoeging op een brondocument, dat gelijktijdig met het stuk is ingeschreven in de openbare registers.

De bijlage kan bij de akte gevoegd zijn, ofwel apart zijn aangeboden. 

De waarden zijn opgenomen in een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="tijdstipAanbiedingBijlage" type="xs:dateTime" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Tijdstip waarop een bijlage is ontvangen met in achtneming van de openingstijden en -dagen van het Kadaster.  </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="KadasterVerzoek" type="Stuk:KadasterVerzoek" abstract="false"/>
   <xs:complexType name="KadasterVerzoek" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een Kadaster verzoek is een verzoek van het Kadaster aan de aanbieder van een T.i.a. stuk in verband met de afhandeling van een T.i.a. stuk. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" type="Typen:CompositeID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Unieke door het Kadaster toegekende logische identificatie.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aard" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan wat voor soort Kadaster verzoek het betreft. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="levensduur" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="NEN3610:Levensduur" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="Historie:Historie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="heeft" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="Stuk:RedenVerzoek" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="Kadasterstuk" type="Stuk:Kadasterstuk" abstract="false"
               substitutionGroup="Stuk:_Stuk"/>
   <xs:complexType name="Kadasterstuk" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een Kadaster-stuk is een Stuk dat gevolgen kan hebben voor kadastrale en topografische registratie, maar dat niet ter inschrijving in de Openbare registers is aangeboden. De waarden zijn opgenomen in een catalogus.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Stuk:_Stuk">
            <xs:sequence>
               <xs:element name="identificatie" type="Typen:CompositeID" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een door het Kadaster toegekende landelijk uniek nummer aan dit object binnen de kadastrale registratie. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="indicatieCorrectie" type="xs:boolean" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation"> De indicatie geeft aan of een Kadasterstuk een correctie Kadasterstuk betreft. Default = N. </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Ondertekenaar" type="Stuk:Ondertekenaar" abstract="false"/>
   <xs:complexType name="Ondertekenaar" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De gegevens van de ondertekenaar van een aangeboden stuk.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="voornamen" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De verzameling van een of meer naamgegevens, ter onderscheiding van personen met dezelfde achternaam, (rechtens) aan een persoon gegeven of -indien hiervan sprake is- door hem gekozen.  </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="voorvoegsels" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De verzameling van een of meer voorzetsels en/of lidwoorden die aan de geslachtsnaam vooraf gaat en daarmee de gezamenlijk de achternaam vormt.  </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="geslachtsnaam" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De naamgegevens van een natuurlijk persoon, met uitzondering van de voornamen en eventuele voorvoegsels. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="standplaats" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Adres of standplaats/plaats van vestiging van de ondertekenaar.  </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RedenVerzoek" type="Stuk:RedenVerzoek" abstract="false"/>
   <xs:complexType name="RedenVerzoek" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De reden voor het versturen van een Kadaster verzoek naar de aanbieder van een T.i.a stuk.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="reden" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De reden om een stuk niet in te schrijven of om verbetering te vragen. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="redenOmschrijving" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De omschrijving van de reden voor een Kadaster verzoek die afwijkt van de standaard redenen die bij reden kunnen worden opgegeven. Bij reden is voor 'overig' gekozen.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Signalering" type="Stuk:Signalering" abstract="false"/>
   <xs:complexType name="Signalering" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Verwijzing naar een stuk dat nog niet volledig in de registratie is verwerkt.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="persoon" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="PersoonRef:_PersoonRef"/>
                  <xs:element ref="BrpPersoonRef:IngezeteneRef"/>
                  <xs:element ref="BrpPersoonRef:NietIngezeteneRef"/>
                  <xs:element ref="PersoonRef:KADNatuurlijkPersoonRef"/>
                  <xs:element ref="NhrRechtspersoonRef:RechtspersoonRef"/>
                  <xs:element ref="PersoonRef:KADNietNatuurlijkPersoonRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="heeftBetrekkingOp" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="KadastraalObjectRef:_KadastraalObjectRef"/>
                  <xs:element ref="OnroerendeZaakRef:AppartementsrechtRef"/>
                  <xs:element ref="OnroerendeZaakRef:LeidingnetwerkRef"/>
                  <xs:element ref="OnroerendeZaakRef:PerceelRef"/>
                  <xs:element ref="TeboekgesteldeZaakRef:LuchtvaartuigRef"/>
                  <xs:element ref="TeboekgesteldeZaakRef:SchipRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="_Stuk" type="Stuk:_Stuk" abstract="true"/>
   <xs:complexType name="_Stuk" abstract="true">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Stuk is een brondocument dat een aanleiding geeft tot een wijziging van de gegevens in een basisregistratie. De verwijzing naar dit stuk behoort tot de basisregistratie, het stuk maakt geen deel uit van de basisregistratie. 
Er zijn 2 soorten stukken: 
Een ter inschrijving in de openbare registers aangeboden stuk en een door het Kadaster opgemaakt stuk (Relaas van bevindingen, document ter correctie van een eerdere foutieve bijwerking, etc.).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="levensduur" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="NEN3610:Levensduur" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="Historie:Historie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="heeftBijlage" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="Stuk:Bijlage" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="omvat" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="StukRef:StukdeelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="Stukdeel" type="Stuk:Stukdeel" abstract="false"/>
   <xs:complexType name="Stukdeel" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een stukdeel is een (zelfstandig te onderkennen) deel van een stuk, op grond waarvan gegevens in de kadastrale registratie ontstaan, wijzigen, vervallen of worden aangevuld.

Ingeval in een stuk bijvoorbeeld is vermeld dat er verschillende Rechten betrokken zijn bij verschillende leveringen (tegen verschillende koopsommen) dan worden die fragmenten uit de tekst van die akte als verschillende stukdelen onderkent. Dergelijke stukdelen kunnen in de toekomst afzonderlijk worden aangevuld, doorgehaald, ed.. Een stukdeel komt vaak overeen met een rechtsfeit.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" type="Typen:CompositeID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De Kadaster identificatie is een door het Kadaster toegekende landelijk uniek nummer aan dit object binnen de kadastrale registratie. 


Dit is een composite ID, waarbij het namespace gedeelte is: NL.IMKAD.Stukdeeel.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aard" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aanduiding aard stukdeel is een aanduiding voor de aard van een deel van het ter inschrijving aangeboden stuk (rechtsfeit). De mogelijke waarden zijn vermeld in een waardenlijst..</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aardBeslag" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het soort beslag wordt omschreven met een CBS-code. De waarden zijn vastgelegd in een waardenlijst.

Het soort beslag is bij het stukdeel (en dus het rechtsfeit) opgenomen en niet bij het beslag omdat het gegeven geldt per feit. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bedragErfpachtscanon" type="Typen:Bedrag" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het bedrag dat de erfpachter periodiek verschuldigd is voor uitoefening van het erfpachtsrecht op 1 of meer kadastrale objecten</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bedragTransactiesomLevering" type="Typen:Bedrag" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of meer onroerende zaken zijn verkregen.

In een stuk kunnen verschillende transacties zijn vermeld, met verschillende transactiesom. Per stukdeel (transactie) is de transactiesom weergegeven. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bedragVorderingsbeslag" type="Typen:Bedrag" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het bedrag waarvoor beslag is gelegd. Indien bij een beslag verschillende bedragen voorkomen, dan worden deze bedragen getotaliseerd. Dit is dan aangegeven in het aard attribuut van Bedrag. 

Bestaat uit bedrag vordering, met bedrag en valutasoort, en indicatie verschillende bedragen. 

De vordering is bij het stukdeel (en dus het rechtsfeit) opgenomen en niet bij het beslag omdat het gegeven geldt per feit. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="bedragZekerheidsstellingHypotheek" type="Typen:Bedrag" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">
Zekerheidsstelling hypotheek is op 1 of meer kadastrale objecten verleend ter grootte van Bedrag.

Het bedrag waarvoor hypothecaire zekerheid is gegeven. De vermelde hoofdsom is het bedrag waarvoor het recht van Hypotheek is gevestigd (dus niet het bedrag van de geldlening).

</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="indicatieBijwerkingOpgeschort" type="xs:boolean" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Stukdeel is al dan niet (geheel) verwerkt: Indicatie geeft aan of de bijwerking van het stukdeel is opgeschort.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="omschrijvingGekozenWoonplaats" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Locatie die een persoon als woonplaats heeft gekozen.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="omschrijvingKadastraleObjecten" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De beschrijving van een of meerdere Kadastrale objecten zoals in het Stuk vermeld.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="omschrijvingTopografischeMutatie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De beschrijving van de Topografische mutatie zoals in het Stuk vermeld.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="redenDoorhalingTeboekstelling" type="Typen:Waardelijst" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De reden van doorhaling van de teboekstelling van een teboekgestelde zaak. De waarden zijn opgenomen in een catalogus.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="isAanvullingOp" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="StukRef:StukdeelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="TerInschrijvingAangebodenStuk" type="Stuk:TerInschrijvingAangebodenStuk"
               abstract="false"
               substitutionGroup="Stuk:_Stuk"/>
   <xs:complexType name="TerInschrijvingAangebodenStuk" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een T.i.a. stuk is een verwijzing naar een stuk dat ter inschrijving in de Openbare registers is aangeboden.

Het omvat alle ter inschrijving aangeboden stukken. Door middel van status OR wordt aangegeven of het stuk ingeschreven, geweigerd dan wel door de aanbieder weer ingetrokken is.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Stuk:_Stuk">
            <xs:sequence>
               <xs:element name="identificatie" type="Typen:CompositeID" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een door het Kadaster toegekende landelijk uniek nummer aan dit object binnen de kadastrale registratie. 



Dit is een composite ID, waarbij het namespace gedeelte is: NL.IMKAD.TIAStuk.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="aard" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Omschrijving van de belangrijkste soort rechtshandeling wat is vermeld in het stuk. De waarden zijn opgenomen in een waardenlijst.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="deelEnNummer" type="Stuk:TypeDeelEnNummer" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Bevat de door het Kadaster vastgestelde unieke identificatie van alle ter inschrijving aangeboden stukken.

Deel en nummer identificeren een Ter Inschrijving Aangeboden stuk door gebruik te maken van vier gegevenselementen. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="bewaardersverklaring" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Stuk omvat in de Openbare registers een door de Bewaarder gestelde verklaring met waarde.
Beschrijving van de onregelmatigheid die bij de inschrijving in de openbare registers is hersteld (volgens artikel 116 uit de Kadasterwet).

</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="indicatieVerbeteringGewenst" type="xs:boolean" minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een ter inschrijving aangeboden stuk moet al dan niet door aanbieder worden aangevuld. Default = N.
Geeft aan of er nog nadere gegevens van de aanbieder gewenst zijn om de inschrijving te voltooien en het stuk toe te passen in de kadastrale registratie. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="tijdstipAanbieding" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het tijdstip waarop een ter inschrijving aangeboden stuk is ontvangen met in achtneming van de openingstijden en -dagen van het Kadaster. Als tijdstip van inschrijving geldt het tijdstip van aanbieding van de voor de inschrijving vereiste stukken. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="tijdstipOndertekening" type="xs:dateTime" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het tijdstip waarop een ter inschrijving aangeboden stuk is ondertekend door de opsteller van het stuk. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="statusStukOR" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan wat de juridische status is van een ter inschrijving aangeboden stuk. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ondertekenaarOorspronkelijkStuk" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="Stuk:Ondertekenaar" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="heeft" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="StukRef:KadasterVerzoekRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="metSignalering" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="Stuk:Signalering" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TypeDeelEnNummer" type="Stuk:TypeDeelEnNummer" abstract="false"/>
   <xs:complexType name="TypeDeelEnNummer" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Bevat de door het Kadaster vastgestelde unieke identificatie van alle ter inschrijving aangeboden stukken. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="deel" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Identificatie van het stuk binnen zijn soort.

Hoewel er nu alleen nog numerieke waarden worden toegekend, moet het domeintype Tekst blijven omdat er in het verleden alfanumerieke waarden zijn toegekend. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="nummer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Volgnummer van het stuk.

In de landelijke stukkenregistratie is dit nummer niet uniek identificerend binnen een register, omdat tijdig ingediende verbeteringen hetzelfde volgnummer krijgen als het oorspronkelijke stuk. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="reeks" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Verwijzing naar de oorspronkelijke (mogelijk tussentijds vervallen) Kadastervestiging waar het stuk oorspronkelijk is ingeschreven. 
De waarden zijn opgenomen in een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="registercode" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het soort register, aangeduid met een code. 
De waarden zijn opgenomen in een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="soortRegister" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aanduiding soort Register bepaalt de hoofdcategorie van een ter inschrijving aangeboden stuk. Bijvoorbeeld Hypotheekakten, Transportakten.
De waarden zijn opgenomen in een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>