xmlschema/2.1.1/IMKAD/IMKAD-teboekgesteldezaak/v20120508/IMKAD_TeboekgesteldeZaak_v2_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:TeboekgesteldeZaak="http://www.kadaster.nl/schemas/IMKAD/IMKAD-teboekgesteldezaak/v20120508"
           xmlns:NEN3610="http://www.geonovum.nl/NEN3610/schemas/v20110301"
           xmlns:AdresRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres-ref/v20120508"
           xmlns:BagAdresRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres-ref/v20111122"
           xmlns:Historie="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20120508"
           xmlns:OnroerendeZaakRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20120508"
           xmlns:StukRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20120508"
           xmlns:TeboekgesteldeZaakRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-teboekgesteldezaak-ref/v20120508"
           xmlns:Typen="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-teboekgesteldezaak/v20120508"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.1.1-3">
   <xs:annotation>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/uri">http://www.kadaster.nl/schemas/IMKAD/IMKAD-teboekgesteldezaak</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/version">2.1.1</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/phase">3</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/release">20120508</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/svn">$Id$</xs:appinfo>
      <xs:documentation source="http://www.kadaster.nl/schema-info/file-location">IMKAD-teboekgesteldezaak/v20120508/IMKAD_TeboekgesteldeZaak_v2_1_1.xsd</xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/conversion">
        Dit schema is samengesteld in overeenstemming met de codeerregels vastgelegd in  
        "ISO 19118: Text of 19118 Geographic information - Encoding, as sent to the ISO Central 
        Secretariat for publication"
    </xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.geonovum.nl/NEN3610/schemas/v20110301"
              schemaLocation="../../../NEN3610/v20110301/NEN3610_NEN3610_v1_0_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres-ref/v20120508"
              schemaLocation="../../IMKAD-adres-ref/v20120508/IMKAD_AdresRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres-ref/v20111122"
              schemaLocation="../../IMKAD-bag-adres-ref/v20111122/IMKAD_BagAdresRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20120508"
              schemaLocation="../../IMKAD-historie/v20120508/IMKAD_Historie_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20120508"
              schemaLocation="../../IMKAD-onroerendezaak-ref/v20120508/IMKAD_OnroerendeZaakRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20120508"
              schemaLocation="../../IMKAD-stuk-ref/v20120508/IMKAD_StukRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-teboekgesteldezaak-ref/v20120508"
              schemaLocation="../../IMKAD-teboekgesteldezaak-ref/v20120508/IMKAD_TeboekgesteldeZaakRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
              schemaLocation="../../IMKAD-typen/v20111122/IMKAD_Typen_v2_1_1.xsd"/>
   <xs:element name="Bouwwerf" type="TeboekgesteldeZaak:Bouwwerf" abstract="false"/>
   <xs:complexType name="Bouwwerf" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De gegevens van de bouwwerf waar het Schip in aanbouw of gebouwd is.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="naam" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De naam van de bouwwerf.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="120"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="bouwNummer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het bouwnummer waaronder het schip op de bouwwerf in aanbouw is of is afgebouwd.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="jaarBeginBouw" type="xs:gYear" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het jaar waarin met de bouw begonnen is.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="jaarEindBouw" type="xs:gYear" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het jaar waarin met de bouw gestopt is.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plaats" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De plaats waar de bouwwerf gesitueerd is.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="land" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het land van vestiging van de bouwwerf.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BrandmerkSchip" type="TeboekgesteldeZaak:BrandmerkSchip" abstract="false"/>
   <xs:complexType name="BrandmerkSchip" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een door het Kadaster vastgesteld uniek registratienummer dat op het schip wordt aangebracht en niet zonder beschadiging kan worden verwijderd, bestaande uit volgnummer, rubriek, plaatscode (tot juni 2006) en jaar.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nummer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het volgnummer van het brandmerk. Het volgnummer is onderdeel van het brandmerk dat op het schip is aangebracht. Dit nummer vormt samen met de plaats (wanneer aanwezig) de unieke identificatie van het schip.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rubriek" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De aanduiding die aangeeft wat de rubriek van het teboekgestelde schip is. De rubriek is onderdeel van het brandmerk dat op het schip is aangebracht. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plaats" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De aanduiding van de plaats waar het schip teboekgesteld is. De plaatsaanduiding is onderdeel van het brandmerk dat op het schip is aangebracht. Vanaf 12 juni 2006 wordt de plaats niet meer opgenomen in een brandmerk. De plaats (wanneer aanwezig) vormt samen met het nummer de unieke identificatie van het schip. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="jaar" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het jaar waarin het brandmerk op het schip is aangebracht. Het jaar is onderdeel van het brandmerk dat op het schip is aangebracht.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="status" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aanduiding van de status van het aanbrengen van het brandmerk op het schip.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="plaatsBrandmerk" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De plaats op het schip waar het brandmerk is aangebracht.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="KenmerkAndereRegistratie"
               type="TeboekgesteldeZaak:KenmerkAndereRegistratie"
               abstract="false"/>
   <xs:complexType name="KenmerkAndereRegistratie" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding voor een binnenlandse- of buitenlandse registratie (anders dan het Kadaster), waar het schip (in het verleden) is geregistreerd.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="code" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Kenmerk van een andere registratie. Deze is onttrokken aan een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kenmerk " minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Waarde van het kenmerk van de binnenlandse- of
buitenlandse registratie (anders dan het Kadaster).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Luchtvaartuig" type="TeboekgesteldeZaak:Luchtvaartuig" abstract="false"
               substitutionGroup="TeboekgesteldeZaak:_TeboekgesteldeZaak"/>
   <xs:complexType name="Luchtvaartuig" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een luchtvaartuig is een Teboekgestelde zaak, gekenmerkt als een toestel dat in de dampkring kan worden gehouden tengevolge van de krachten welke de lucht daarop uitoefent.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="TeboekgesteldeZaak:_TeboekgesteldeZaak">
            <xs:sequence>
               <xs:element name="boekingsnummer" type="xs:integer" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het boekingsnummer is het door het kadaster toegekende unieke nummer van een Luchtvaartuig.

Luchtvaartuig wordt door Kadaster uniek geidentificeerd met nummer.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="nationaliteitsEnInschrijvingskenmerk" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Luchtvaartuig is door de Rijksluchtvaartdienst uniek geidentificeerd met kenmerk.

Het Nationaliteits- en inschrijvingskenmerk is een kenmerk, uitgegeven door de Rijksluchtvaartdienst, dat luchtvaartuigen uniek identificeert.

Het Nationaliteits- en inschrijvingskenmerk is het PH-nummer.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="serienummer" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Luchtvaartuig wordt geidentificeerd door middel van nummer.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="plaatsSerienummer" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De plaats op het Luchtvaartuig waar het Serienummer is aangebracht.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="200"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="naamFabrikant" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De naam van de fabrikant van het luchtvaartuig.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="plaatsVestigingFabrikant" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De plaats van vestiging van de fabrikant van het
luchtvaartuig.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="landVestigingFabrikant" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het land van vestiging van de fabrikant van het luchtvaartuig</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="type" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De type-aanduiding van het luchtvaartuig, als aanvulling op de fabrikantnaam. Bijvoorbeeld (Airbus) A330-203.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="bouwjaar" type="xs:gYear" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het jaar waarin de bouw afgerond is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="maximaalToegelatenMassa" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Luchtvaartuig heeft maximaal startgewicht van grootte.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="10"/>
                        <xs:fractionDigits value="2"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Microdots" type="TeboekgesteldeZaak:Microdots" abstract="false"/>
   <xs:complexType name="Microdots" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een microdot is een chip ter grootte van 1 mm voorzien van een uniek idenficatienummer (dna) dat aangebracht is op een schip. 

Naast het brandmerk kan een schip worden voorzien van microdots (ongeveer 5000). Het nummer bestaat uit de letter KAD, aangevuld met 7 cijfers.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nummer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Uniek kenmerk van de microdots.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Motor" type="TeboekgesteldeZaak:Motor" abstract="false"/>
   <xs:complexType name="Motor" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een motor is een werktuig waarmee een Teboekgestelde zaak kan worden voortbewogen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nummer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Is het nummer dat door de fabriek aan de motor is gegeven.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="plaatsnummer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Plaats waar het nummer van de motor is aangebracht.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="60"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="merk" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Naam van het merk van de motor.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="type" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De type-aanduiding van de motor als aanvulling op het merk.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vermogen" type="TeboekgesteldeZaak:TypeVermogen" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De sterkte van de motor.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Schip" type="TeboekgesteldeZaak:Schip" abstract="false"
               substitutionGroup="TeboekgesteldeZaak:_TeboekgesteldeZaak"/>
   <xs:complexType name="Schip" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een schip is Teboekgestelde zaak, gekenmerkt als een schip, dat bij het Kadaster te boek is gesteld door het toegekend brandmerknummer.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="TeboekgesteldeZaak:_TeboekgesteldeZaak">
            <xs:sequence>
               <xs:element name="status" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aanduiding van de status van een schip. Een schip kan in
aanbouw of afgebouwd zijn. De waarden zijn opgenomen in
een waardenlijst.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="indicatieAdministratieveTbs" type="xs:boolean" minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een teboekstelling van een schip met slechts een
administratief karakter omdat het schip nog teboekgesteld is
in een buitenlands register.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="soortCode" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De aanduiding voor de soort van een Schip. De waarden zijn
opgenomen in een waardenlijst.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="soortOmschrijving" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De omschrijving van de soort van het schip. Dit attribuut is
nodig om de omschrijving van het soort schip te kunnen
registreren waarbij de soort overig is.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="60"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="type" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het type schip, b.v. in het geval van een motorjacht: Trintella, Vanguard, enz.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="inhoud" type="TeboekgesteldeZaak:TypeInhoud" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Inhoud van het schip.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="inrichting" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">
Inrichting is een omschrijving van de inrichting van een Schip.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="1000"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="rompmateriaal" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">
Rompmateriaal is de belangrijkste materiaalsoort waarvan de romp van een Schip is gefabriceerd.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="kleur" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">
Schip heeft uiterlijke verschijningsvorm van kleur.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="nietScheepsToebehoren" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">
Omschrijving niet scheepstoebehoren is een aanduiding van zaken die niet tot het Schip worden gerekend.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="160"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="afmeting" type="TeboekgesteldeZaak:TypeAfmetingSchip" minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Afmeting van het schip in lengte, breedte en diepgang.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="isDuurzaamVerbondenMet" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De relatie tussen een "Waterwoning" en het water- of walperceel, dat het eigendom van de waterwoning "natrekt".</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="OnroerendeZaakRef:PerceelRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="metBrandmerk" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="TeboekgesteldeZaak:BrandmerkSchip" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="locatie" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Locatie van het schip is het adres van de vaste ligplaats van het schip. Dit geldt bijv. voor woonboten.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="AdresRef:_ObjectlocatieBinnenlandRef"/>
                        <xs:element ref="AdresRef:KADBinnenlandsAdresRef"/>
                        <xs:element ref="BagAdresRef:LigplaatsRef"/>
                        <xs:element ref="BagAdresRef:StandplaatsRef"/>
                        <xs:element ref="BagAdresRef:VerblijfsobjectRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="eerderTeboekgesteldAls" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="TeboekgesteldeZaakRef:SchipRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="gekozenWoonplaats" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Bij Schip zaak wordt locatie gebruikt om aan te geven welk adres formeel als gekozen woonplaats is benoemd (het zogenaamde waladres). Dit geldt m.n. voor schepen zonder vaste ligplaats.

De gekozen woonplaats van een schip blijkt uit het Openbaar register (is door de eigenaar vermeld op het verzoek tot teboekstelling).</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="AdresRef:_ObjectlocatieBinnenlandRef"/>
                        <xs:element ref="AdresRef:KADBinnenlandsAdresRef"/>
                        <xs:element ref="BagAdresRef:LigplaatsRef"/>
                        <xs:element ref="BagAdresRef:StandplaatsRef"/>
                        <xs:element ref="BagAdresRef:VerblijfsobjectRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="anderKenmerk" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="TeboekgesteldeZaak:KenmerkAndereRegistratie" minOccurs="1"
                                    maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="inAanbouwBij" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="TeboekgesteldeZaak:Bouwwerf" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="afgebouwdDoor" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="TeboekgesteldeZaak:Bouwwerf" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="isVoorzienVan" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="TeboekgesteldeZaak:Microdots" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="_TeboekgesteldeZaak" type="TeboekgesteldeZaak:_TeboekgesteldeZaak"
               abstract="true"/>
   <xs:complexType name="_TeboekgesteldeZaak" abstract="true">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een teboekgestelde zaak is een Kadastraal object dat bestaat uit een Luchtvaartuig of een Schip.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" type="Typen:CompositeID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De Kadaster identificatie is een door het Kadaster toegekende landelijk uniek nummer aan dit object binnen de kadastrale registratie. 

Dit is een composite ID, waarbij het namespace gedeelte is: NL.IMKAD.TeboekgesteldeZaak.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="naam" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De naam waaronder de TeboekgesteldeZaak is geregistreerd. Een TeboekgesteldeZaak kan (in de tijd gezien) onder verschillende namen bekend zijn geweest.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="aantalMotoren" type="xs:integer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het aantal motoren dat de teboekgestelde zaak heeft.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="koopsom" type="TeboekgesteldeZaak:TypeKoopsom" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Belangrijkste recht van teboekgestelde zaak is verkregen voor bedrag met waarde. Bedrag waarvoor het eigendom is gekocht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="toelichtingBewaarder" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Bevat een toelichtende tekst die de bewaarder vermeld wil hebben bij het kadastraal object.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="levensduur" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="NEN3610:Levensduur" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="Historie:Historie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="motor" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="TeboekgesteldeZaak:Motor" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isVermeldIn" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Dit kadastraal object is vermeld in de benoemde stukdelen.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="StukRef:StukdeelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="TypeAfmetingSchip" type="TeboekgesteldeZaak:TypeAfmetingSchip"
               abstract="false"/>
   <xs:complexType name="TypeAfmetingSchip" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Afmetingen van een schip.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="lengte" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Lengte van een schip, in meters.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="10"/>
                  <xs:fractionDigits value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="breedte" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Breedte van een schip, in meters.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="10"/>
                  <xs:fractionDigits value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="diepgang" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">
Diepgang is de afstand van de waterlijn tot het laagste punt van een Schip onder water in maximaal (toegestane) geladen toestand, in meters.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="10"/>
                  <xs:fractionDigits value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="indicatieGeschat" type="xs:boolean" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Specificatie of deze waarden berusten op een schatting.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TypeInhoud" type="TeboekgesteldeZaak:TypeInhoud" abstract="false"/>
   <xs:complexType name="TypeInhoud" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Inhoud. De waarde van de inhoud wordt vastgelegd in kubieke meters (B-schepen) of in grosstonnage (Z en V-schepen). Deze waarden zijn opgenomen in waardenlijst.

Bij een (Zee)visserijschip of een Zeeschip wordt als inhoud opgegeven de bruto inhoud of het tonnage, bij een binnenvaartschip wordt als inhoud opgegeven de verplaatsing of het laadvermogen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="waarde" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De waarde uitgedrukt in eenheden.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="11"/>
                  <xs:fractionDigits value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="eenheid" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De eenheid van de inhoud van het schip. De eenheden zijn
opgenomen in een waardenlijst.

Toelichting
Bij een (Zee)visserijschip of een Zeeschip wordt als inhoud
opgegeven de bruto inhoud of het tonnage, bij een
binnenvaartschip wordt als inhoud opgegeven de
verplaatsing of het laadvermogen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="indicatieGeschat" type="xs:boolean" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Indicatie of de waarde is geschat, in plaats van vastgesteld.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TypeKoopsom" type="TeboekgesteldeZaak:TypeKoopsom" abstract="false"/>
   <xs:complexType name="TypeKoopsom" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De koopsom is het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of meer teboekgestelde zaken zijn verkregen, alsmede het koopjaar en een indicator of het meerdere  kadastrale objecten betreft.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bedrag" type="Typen:Bedrag" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of meer onroerende zaken zijn verkregen. Koopsom is altijd een positief bedrag. Dit is een bedrag (omgerekend naar) euro's. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="koopjaar" type="xs:gYear" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het jaar waarin het belangrijkste recht van het kadastraal object is verkregen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="indicatieMeerObjecten" type="xs:boolean" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan of de koopsom betrekking heeft op meer dan 1 kadastraal object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TypeVermogen" type="TeboekgesteldeZaak:TypeVermogen" abstract="false"/>
   <xs:complexType name="TypeVermogen" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Vermogen van een motor, uitgedrukt in een specifieke eenheid, onttrokken aan waardenlijst.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="waarde" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aantal uitgedrukt in eenheden.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="10"/>
                  <xs:fractionDigits value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="eenheid" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Eenheid van vermogen. De waarde is onttrokken aan een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>