xmlschema/2.3.1/imkad/imkad-kadastraalobject/v20190201/IMKAD_KadastraalObject_v2_2_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ko="http://www.kadaster.nl/schemas/imkad/imkad-kadastraalobject/v20190201"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:imvert="http://www.imvertor.org/schema/system"
           xmlns:t="http://www.kadaster.nl/schemas/imkad/imkad-typen/v20190201"
           xmlns:h="http://www.kadaster.nl/schemas/imkad/imkad-historie/v20190201"
           xmlns:a-ref="http://www.kadaster.nl/schemas/imkad/imkad-adres-ref/v20141101"
           xmlns:ko-ref="http://www.kadaster.nl/schemas/imkad/imkad-kadastraalobject-ref/v20190201"
           xmlns:oz-ref="http://www.kadaster.nl/schemas/imkad/imkad-onroerendezaak-ref/v20120508"
           xmlns:tz-ref="http://www.kadaster.nl/schemas/imkad/imkad-teboekgesteldezaak-ref/v20120508"
           targetNamespace="http://www.kadaster.nl/schemas/imkad/imkad-kadastraalobject/v20190201"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.2.0-2">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.kadaster.nl/schemas/imkad/imkad-kadastraalobject</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/version">2.2.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/phase">2</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/release">20190201</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generated">2020-01-30T14:18:01Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generator">1.58.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/owner">Kadaster</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/file-location">imkad/imkad-kadastraalobject/v20190201/IMKAD_KadastraalObject_v2_2_0.xsd</xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Dit package bevat alle klassen die behoren bij de representatie van objecten (onroerende zaken en registergoederen).</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-typen/v20190201"
              schemaLocation="../../../imkad/imkad-typen/v20190201/IMKAD_Typen_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-historie/v20190201"
              schemaLocation="../../../imkad/imkad-historie/v20190201/IMKAD_Historie_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-adres-ref/v20141101"
              schemaLocation="../../../imkad/imkad-adres-ref/v20141101/IMKAD_AdresRef_v1_7_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-kadastraalobject-ref/v20190201"
              schemaLocation="../../../imkad/imkad-kadastraalobject-ref/v20190201/IMKAD_KadastraalObjectRef_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-onroerendezaak-ref/v20120508"
              schemaLocation="../../../imkad/imkad-onroerendezaak-ref/v20120508/IMKAD_OnroerendeZaakRef_v1_5_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/imkad/imkad-teboekgesteldezaak-ref/v20120508"
              schemaLocation="../../../imkad/imkad-teboekgesteldezaak-ref/v20120508/IMKAD_TeboekgesteldeZaakRef_v1_5_0.xsd"/>
   <xs:element name="_KadastraalObject"
               type="ko:_KadastraalObject"
               abstract="true">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">In de BRK worden zakelijke rechten op kadastrale objecten met de rechthebbenden geregistreerd.De eigendom van en beperkte rechten op een kadastraal object worden als zakelijk recht vermeld.Uitzondering:Hypotheek wordt als zekerheidstelling en Erfdienstbaarheid als een aantekening bij kadastrale objecten vermeld Indicatie omvangInitieel 7.000.000</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="_KadastraalObject" abstract="true">
      <xs:sequence>
         <xs:element name="identificatie"
                     type="t:NEN3610ID"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">De Kadaster identificatie is een door het Kadaster toegekend landelijk uniek nummer aan dit object binnen de kadastrale registratie. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="LocatieKadastraalObject"
               type="ko:LocatieKadastraalObject"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Een Locatie kadastraal object is een aanduiding voor de locatie van het Kadastraal object in Nederland. Bij onroerende zaken betreft dit de locatie waar de Onroerende zaak is gelegen. Bij Teboekgestelde zaken wordt locatie gebruikt voor het zogenaamde waladres. Leidingnetwerken kennen geen locatie kadastraal object.De Locatie van een kadastraal object wordt bepaald aan de hand van gegevens die:- de gemeente verstrekt (Basisregistratie Adressen en Gebouwen); - in het openbaar register zijn vermeld; </xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="LocatieKadastraalObject" abstract="false">
      <xs:sequence>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorieNEN3610" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="koppelingswijze"
                     type="ko:Koppelingswijze"
                     minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">Koppelingswijze is de beschrijving van de manier waarop de koppeling tussen het Kadastraalobject (Perceel of Appartementsrecht) met ObjectlocatieBinnenland bepaald is. De koppeling kan administratief bepaald zijn op basis van overeenkomstige adresgegevens en of geometrisch bepaald zijn, op basis van overeenkomstige geometrie.Koppelingswijze beschrijft de kwaliteit van de LKO-koppeling op een van de volgende manieren: * Administratief: de adresgegevens van ObjectlocatieBinnenland komen functioneel overeen met de adresgegevens uit een akte over het Kadastraalobject.* Geometrisch: de geometrie van het adresseerbaar object bij de ObjectlocatieBinnenland (dat een dus ook BAG object is) overlapt (geheel of gedeeltelijk) de geometrie van het Perceel. Als het Kadastraalobject een appartementsrecht is, is de geometrie van de groep van percelen waarvan de rechten zijn opgesplitst in o.a. dit appartementsrecht, genomen.* Administratief en Geometrisch: beide koppelwijzen zijn aan de orde.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="betreft" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="a-ref:ObjectlocatieBinnenlandRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="heeft" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="ko-ref:_KadastraalObjectRef"/>
                  <xs:element ref="oz-ref:_OnroerendeZaakRef"/>
                  <xs:element ref="oz-ref:LeidingnetwerkRef"/>
                  <xs:element ref="oz-ref:PerceelRef"/>
                  <xs:element ref="oz-ref:AppartementsrechtRef"/>
                  <xs:element ref="tz-ref:_TeboekgesteldeZaakRef"/>
                  <xs:element ref="tz-ref:SchipRef"/>
                  <xs:element ref="tz-ref:LuchtvaartuigRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Koppelingswijze" type="ko:Koppelingswijze" abstract="false">
      <xs:annotation>
         <xs:appinfo source="http://www.imvertor.org/data-info/uri">http://www.kadaster.nl/schemas/waardelijsten/Koppelingswijze</xs:appinfo>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="Koppelingswijze" abstract="false">
      <xs:complexContent>
         <xs:extension base="t:Waardelijst"/>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
