xmlschema/2.1.1/gmd/extent.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:04 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gss" schemaLocation="../gss/gss.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="../gts/gts.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gsr" schemaLocation="../gsr/gsr.xsd"/>
	<xs:include schemaLocation="../gmd/referenceSystem.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="EX_TemporalExtent_Type">
		<xs:annotation>
			<xs:documentation>Time period covered by the content of the dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="extent" type="gts:TM_Primitive_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="EX_TemporalExtent" type="gmd:EX_TemporalExtent_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_TemporalExtent_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:EX_TemporalExtent"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="EX_VerticalExtent_Type">
		<xs:annotation>
			<xs:documentation>Vertical domain of dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="minimumValue" type="gco:Real_PropertyType"/>
					<xs:element name="maximumValue" type="gco:Real_PropertyType"/>
					<xs:element name="verticalCRS" type="gsr:SC_CRS_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="EX_VerticalExtent" type="gmd:EX_VerticalExtent_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_VerticalExtent_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:EX_VerticalExtent"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="EX_BoundingPolygon_Type">
		<xs:annotation>
			<xs:documentation>Boundary enclosing the dataset expressed as the closed set of (x,y) coordinates of the polygon (last point replicates first point)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:AbstractEX_GeographicExtent_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="polygon" type="gss:GM_Object_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="EX_BoundingPolygon" substitutionGroup="gmd:AbstractEX_GeographicExtent" type="gmd:EX_BoundingPolygon_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_BoundingPolygon_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:EX_BoundingPolygon"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="EX_Extent_Type">
		<xs:annotation>
			<xs:documentation>Information about spatial, vertical, and temporal extent</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="geographicElement" type="gmd:EX_GeographicExtent_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="temporalElement" type="gmd:EX_TemporalExtent_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="verticalElement" type="gmd:EX_VerticalExtent_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="EX_Extent" type="gmd:EX_Extent_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_Extent_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:EX_Extent"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType abstract="true" name="AbstractEX_GeographicExtent_Type">
		<xs:annotation>
			<xs:documentation>Geographic area of the dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="extentTypeCode" type="gco:Boolean_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element abstract="true" name="AbstractEX_GeographicExtent" type="gmd:AbstractEX_GeographicExtent_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_GeographicExtent_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:AbstractEX_GeographicExtent"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="EX_GeographicBoundingBox_Type">
		<xs:annotation>
			<xs:documentation>Geographic area of the entire dataset referenced to WGS 84</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:AbstractEX_GeographicExtent_Type">
				<xs:sequence>
					<xs:element name="westBoundLongitude" type="gco:Decimal_PropertyType"/>
					<xs:element name="eastBoundLongitude" type="gco:Decimal_PropertyType"/>
					<xs:element name="southBoundLatitude" type="gco:Decimal_PropertyType"/>
					<xs:element name="northBoundLatitude" type="gco:Decimal_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="EX_GeographicBoundingBox" substitutionGroup="gmd:AbstractEX_GeographicExtent" type="gmd:EX_GeographicBoundingBox_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_GeographicBoundingBox_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:EX_GeographicBoundingBox"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="EX_SpatialTemporalExtent_Type">
		<xs:annotation>
			<xs:documentation>Extent with respect to date and time</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:EX_TemporalExtent_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="spatialExtent" type="gmd:EX_GeographicExtent_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="EX_SpatialTemporalExtent" substitutionGroup="gmd:EX_TemporalExtent" type="gmd:EX_SpatialTemporalExtent_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_SpatialTemporalExtent_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:EX_SpatialTemporalExtent"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="EX_GeographicDescription_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractEX_GeographicExtent_Type">
				<xs:sequence>
					<xs:element name="geographicIdentifier" type="gmd:MD_Identifier_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="EX_GeographicDescription" substitutionGroup="gmd:AbstractEX_GeographicExtent" type="gmd:EX_GeographicDescription_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="EX_GeographicDescription_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:EX_GeographicDescription"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>