xmlschema/2.1.1/gmd/maintenance.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:04 ====== Status of the dataset or progress of a review</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="../gts/gts.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmd/citation.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MD_MaintenanceInformation_Type">
		<xs:annotation>
			<xs:documentation>Information about the scope and frequency of updating</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="maintenanceAndUpdateFrequency" type="gmd:MD_MaintenanceFrequencyCode_PropertyType"/>
					<xs:element minOccurs="0" name="dateOfNextUpdate" type="gco:Date_PropertyType"/>
					<xs:element minOccurs="0" name="userDefinedMaintenanceFrequency" type="gts:TM_PeriodDuration_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="updateScope" type="gmd:MD_ScopeCode_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="updateScopeDescription" type="gmd:MD_ScopeDescription_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="maintenanceNote" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="contact" type="gmd:CI_ResponsibleParty_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_MaintenanceInformation" type="gmd:MD_MaintenanceInformation_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_MaintenanceInformation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_MaintenanceInformation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_ScopeDescription_Type">
		<xs:annotation>
			<xs:documentation>Description of the class of information covered by the information</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element maxOccurs="unbounded" name="attributes" type="gco:ObjectReference_PropertyType"/>
			<xs:element maxOccurs="unbounded" name="features" type="gco:ObjectReference_PropertyType"/>
			<xs:element maxOccurs="unbounded" name="featureInstances" type="gco:ObjectReference_PropertyType"/>
			<xs:element maxOccurs="unbounded" name="attributeInstances" type="gco:ObjectReference_PropertyType"/>
			<xs:element name="dataset" type="gco:CharacterString_PropertyType"/>
			<xs:element name="other" type="gco:CharacterString_PropertyType"/>
		</xs:choice>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_ScopeDescription" type="gmd:MD_ScopeDescription_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_ScopeDescription_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_ScopeDescription"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MD_MaintenanceFrequencyCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_MaintenanceFrequencyCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_MaintenanceFrequencyCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MD_ScopeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_ScopeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_ScopeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>