xmlschema/2.1.1/gmd/metadataApplication.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:05 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmd/metadataEntity.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType abstract="true" name="AbstractDS_Aggregate_Type">
		<xs:annotation>
			<xs:documentation>Identifiable collection of datasets</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="composedOf" type="gmd:DS_DataSet_PropertyType"/>
					<xs:element maxOccurs="unbounded" name="seriesMetadata" type="gmd:MD_Metadata_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="subset" type="gmd:DS_Aggregate_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="superset" type="gmd:DS_Aggregate_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element abstract="true" name="AbstractDS_Aggregate" type="gmd:AbstractDS_Aggregate_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_Aggregate_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:AbstractDS_Aggregate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_DataSet_Type">
		<xs:annotation>
			<xs:documentation>Identifiable collection of data</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="has" type="gmd:MD_Metadata_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="partOf" type="gmd:DS_Aggregate_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_DataSet" type="gmd:DS_DataSet_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_DataSet_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_DataSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_OtherAggregate_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_OtherAggregate" substitutionGroup="gmd:AbstractDS_Aggregate" type="gmd:DS_OtherAggregate_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_OtherAggregate_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_OtherAggregate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_Series_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_Series" substitutionGroup="gmd:AbstractDS_Aggregate" type="gmd:DS_Series_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_Series_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_Series"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_Initiative_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_Initiative" substitutionGroup="gmd:AbstractDS_Aggregate" type="gmd:DS_Initiative_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_Initiative_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_Initiative"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_Platform_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_Series_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_Platform" substitutionGroup="gmd:DS_Series" type="gmd:DS_Platform_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_Platform_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_Platform"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_Sensor_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_Series_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_Sensor" substitutionGroup="gmd:DS_Series" type="gmd:DS_Sensor_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_Sensor_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_Sensor"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_ProductionSeries_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_Series_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_ProductionSeries" substitutionGroup="gmd:DS_Series" type="gmd:DS_ProductionSeries_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_ProductionSeries_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_ProductionSeries"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DS_StereoMate_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_OtherAggregate_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DS_StereoMate" substitutionGroup="gmd:DS_OtherAggregate" type="gmd:DS_StereoMate_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DS_StereoMate_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:DS_StereoMate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>