xmlschema/2.1.1/gmd/referenceSystem.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:04 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmd/citation.xsd"/>
	<xs:include schemaLocation="../gmd/extent.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="RS_Identifier_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_Identifier_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="codeSpace" type="gco:CharacterString_PropertyType"/>
					<xs:element minOccurs="0" name="version" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="RS_Identifier" substitutionGroup="gmd:MD_Identifier" type="gmd:RS_Identifier_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="RS_Identifier_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:RS_Identifier"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_ReferenceSystem_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="referenceSystemIdentifier" type="gmd:RS_Identifier_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_ReferenceSystem" type="gmd:MD_ReferenceSystem_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_ReferenceSystem_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_ReferenceSystem"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_Identifier_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="authority" type="gmd:CI_Citation_PropertyType"/>
					<xs:element name="code" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Identifier" type="gmd:MD_Identifier_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Identifier_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_Identifier"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType abstract="true" name="AbstractRS_ReferenceSystem_Type">
		<xs:annotation>
			<xs:documentation>Description of the spatial and temporal reference systems used in the dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="name" type="gmd:RS_Identifier_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="domainOfValidity" type="gmd:EX_Extent_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element abstract="true" name="AbstractRS_ReferenceSystem" type="gmd:AbstractRS_ReferenceSystem_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="RS_ReferenceSystem_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:AbstractRS_ReferenceSystem"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>