xmlschema/2.1.1/gmd/spatialRepresentation.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmd" version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:02 ====== Frequency with which modifications and deletations are made to the data after it is first produced</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gss" schemaLocation="../gss/gss.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmd/citation.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MD_GridSpatialRepresentation_Type">
		<xs:annotation>
			<xs:documentation>Types and numbers of raster spatial objects in the dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:AbstractMD_SpatialRepresentation_Type">
				<xs:sequence>
					<xs:element name="numberOfDimensions" type="gco:Integer_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="axisDimensionProperties" type="gmd:MD_Dimension_PropertyType"/>
					<xs:element name="cellGeometry" type="gmd:MD_CellGeometryCode_PropertyType"/>
					<xs:element name="transformationParameterAvailability" type="gco:Boolean_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_GridSpatialRepresentation" substitutionGroup="gmd:AbstractMD_SpatialRepresentation" type="gmd:MD_GridSpatialRepresentation_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_GridSpatialRepresentation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_GridSpatialRepresentation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_VectorSpatialRepresentation_Type">
		<xs:annotation>
			<xs:documentation>Information about the vector spatial objects in the dataset</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:AbstractMD_SpatialRepresentation_Type">
				<xs:sequence>
					<xs:element minOccurs="0" name="topologyLevel" type="gmd:MD_TopologyLevelCode_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="geometricObjects" type="gmd:MD_GeometricObjects_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_VectorSpatialRepresentation" substitutionGroup="gmd:AbstractMD_SpatialRepresentation" type="gmd:MD_VectorSpatialRepresentation_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_VectorSpatialRepresentation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_VectorSpatialRepresentation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType abstract="true" name="AbstractMD_SpatialRepresentation_Type">
		<xs:annotation>
			<xs:documentation>Digital mechanism used to represent spatial information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element abstract="true" name="AbstractMD_SpatialRepresentation" type="gmd:AbstractMD_SpatialRepresentation_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_SpatialRepresentation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:AbstractMD_SpatialRepresentation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_Georeferenceable_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_GridSpatialRepresentation_Type">
				<xs:sequence>
					<xs:element name="controlPointAvailability" type="gco:Boolean_PropertyType"/>
					<xs:element name="orientationParameterAvailability" type="gco:Boolean_PropertyType"/>
					<xs:element minOccurs="0" name="orientationParameterDescription" type="gco:CharacterString_PropertyType"/>
					<xs:element name="georeferencedParameters" type="gco:Record_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameterCitation" type="gmd:CI_Citation_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Georeferenceable" substitutionGroup="gmd:MD_GridSpatialRepresentation" type="gmd:MD_Georeferenceable_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Georeferenceable_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_Georeferenceable"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_Dimension_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="dimensionName" type="gmd:MD_DimensionNameTypeCode_PropertyType"/>
					<xs:element name="dimensionSize" type="gco:Integer_PropertyType"/>
					<xs:element minOccurs="0" name="resolution" type="gco:Measure_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Dimension" type="gmd:MD_Dimension_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Dimension_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_Dimension"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_Georectified_Type">
		<xs:complexContent>
			<xs:extension base="gmd:MD_GridSpatialRepresentation_Type">
				<xs:sequence>
					<xs:element name="checkPointAvailability" type="gco:Boolean_PropertyType"/>
					<xs:element minOccurs="0" name="checkPointDescription" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="cornerPoints" type="gss:GM_Point_PropertyType"/>
					<xs:element minOccurs="0" name="centerPoint" type="gss:GM_Point_PropertyType"/>
					<xs:element name="pointInPixel" type="gmd:MD_PixelOrientationCode_PropertyType"/>
					<xs:element minOccurs="0" name="transformationDimensionDescription" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="2" minOccurs="0" name="transformationDimensionMapping" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Georectified" substitutionGroup="gmd:MD_GridSpatialRepresentation" type="gmd:MD_Georectified_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Georectified_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_Georectified"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MD_GeometricObjects_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="geometricObjectType" type="gmd:MD_GeometricObjectTypeCode_PropertyType"/>
					<xs:element minOccurs="0" name="geometricObjectCount" type="gco:Integer_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_GeometricObjects" type="gmd:MD_GeometricObjects_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_GeometricObjects_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_GeometricObjects"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:simpleType name="MD_PixelOrientationCode_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="center"/>
			<xs:enumeration value="lowerLeft"/>
			<xs:enumeration value="lowerRight"/>
			<xs:enumeration value="upperRight"/>
			<xs:enumeration value="upperLeft"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ........................................................................ -->
	<xs:element name="MD_PixelOrientationCode" substitutionGroup="gco:CharacterString" type="gmd:MD_PixelOrientationCode_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_PixelOrientationCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_PixelOrientationCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MD_TopologyLevelCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_TopologyLevelCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_TopologyLevelCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MD_GeometricObjectTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_GeometricObjectTypeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_GeometricObjectTypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MD_CellGeometryCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_CellGeometryCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_CellGeometryCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MD_DimensionNameTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_DimensionNameTypeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmd:MD_DimensionNameTypeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>