xmlschema/2.1.1/IMKAD/IMKAD-onroerendezaak/v20120508/IMKAD_OnroerendeZaak_v2_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:OnroerendeZaak="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak/v20120508"
           xmlns:NEN3610="http://www.geonovum.nl/NEN3610/schemas/v20110301"
           xmlns:AdresRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres-ref/v20120508"
           xmlns:BagAdresRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres-ref/v20111122"
           xmlns:Historie="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20120508"
           xmlns:InOnderzoek="http://www.kadaster.nl/schemas/IMKAD/IMKAD-inonderzoek/v20111122"
           xmlns:OnroerendeZaakRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20120508"
           xmlns:StukRef="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20120508"
           xmlns:Typen="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
           xmlns:GML3="http://www.opengis.net/gml/3.2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak/v20120508"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.1.1-3">
   <xs:annotation>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/uri">http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/version">2.1.1</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/phase">3</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/release">20120508</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/svn">$Id$</xs:appinfo>
      <xs:documentation source="http://www.kadaster.nl/schema-info/file-location">IMKAD-onroerendezaak/v20120508/IMKAD_OnroerendeZaak_v2_1_1.xsd</xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/conversion">
        Dit schema is samengesteld in overeenstemming met de codeerregels vastgelegd in  
        "ISO 19118: Text of 19118 Geographic information - Encoding, as sent to the ISO Central 
        Secretariat for publication"
    </xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.geonovum.nl/NEN3610/schemas/v20110301"
              schemaLocation="../../../NEN3610/v20110301/NEN3610_NEN3610_v1_0_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres-ref/v20120508"
              schemaLocation="../../IMKAD-adres-ref/v20120508/IMKAD_AdresRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-bag-adres-ref/v20111122"
              schemaLocation="../../IMKAD-bag-adres-ref/v20111122/IMKAD_BagAdresRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20120508"
              schemaLocation="../../IMKAD-historie/v20120508/IMKAD_Historie_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-inonderzoek/v20111122"
              schemaLocation="../../IMKAD-inonderzoek/v20111122/IMKAD_InOnderzoek_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20120508"
              schemaLocation="../../IMKAD-onroerendezaak-ref/v20120508/IMKAD_OnroerendeZaakRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20120508"
              schemaLocation="../../IMKAD-stuk-ref/v20120508/IMKAD_StukRef_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
              schemaLocation="../../IMKAD-typen/v20111122/IMKAD_Typen_v2_1_1.xsd"/>
   <xs:import namespace="http://www.opengis.net/gml/3.2"
              schemaLocation="../../../gml/3.2.1/gml.xsd"/>
   <xs:element name="Appartementsrecht" type="OnroerendeZaak:Appartementsrecht"
               abstract="false"
               substitutionGroup="OnroerendeZaak:_OnroerendeZaak"/>
   <xs:complexType name="Appartementsrecht" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een appartementsrecht is een onroerende zaak. Onder appartementsrecht wordt verstaan een aandeel in de goederen die in de splitsing zijn betrokken, dat de bevoegdheid omvat tot het uitsluitend gebruik van bepaalde gedeelten van het gebouw die blijkens hun inrichting bestemd zijn of worden om als afzonderlijk geheel te worden gebruikt. Het aandeel kan mede omvatten de bevoegdheid tot het uitsluitend gebruik van bepaalde gedeelten van de bij het gebouw behorende grond. In het geval van lid 2 omvat het aandeel de bevoegdheid tot het uitsluitend gebruik van bepaalde gedeelten van het stuk grond, die blijkens hun inrichting of aanduiding bestemd zijn of worden om als afzonderlijk geheel te worden gebruikt. (art. 5:106 lid 4 BW).</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="OnroerendeZaak:_OnroerendeZaak">
            <xs:sequence>
               <xs:element name="heeftTekening" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="StukRef:StukdeelRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="KadastraleGrens" type="OnroerendeZaak:KadastraleGrens" abstract="false"/>
   <xs:complexType name="KadastraleGrens" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Deel van de cartografische begrenzing van een kadastraal perceel.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identificatie" type="Typen:CompositeID" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Unieke aanduiding.

Dit is een composite ID, waarbij het namespace gedeelte is: NL.IMKAD.KadastraleGrens.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="type" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan of het een definitieve, voorlopige of fictieve grens betreft. De waarden zijn opgenomen in een catalogus.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="grenslijn" type="OnroerendeZaak:LijnOfBoogPropertyType" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een grenslijn is of een lijn (GML LineString), of een boog (GML ArcString).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="levensduur" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="NEN3610:Levensduur" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="Historie:Historie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="inOnderzoek" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="InOnderzoek:InOnderzoek" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="perceelLinks" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="OnroerendeZaakRef:PerceelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="perceelRechts" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="OnroerendeZaakRef:PerceelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="optional"/>
   </xs:complexType>
   <xs:element name="Leidingnetwerk" type="OnroerendeZaak:Leidingnetwerk" abstract="false"
               substitutionGroup="OnroerendeZaak:_OnroerendeZaak"/>
   <xs:complexType name="Leidingnetwerk" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een leidingnetwerk is een onroerende zaak. Een leidingnetwerk is een net, bestaande uit een of meer kabels of leidingen, bestemd voor transport van vaste, vloeibare of gasvormige stoffen, van energie of van informatie, dat in, op of boven de grond is of wordt aangelegd (art. 1 sub c Kadasterbesluit).

Leidingnetwerken worden geometrisch weergegeven door een "niet opdelend" vlak, een polylijn of m.b.v. netwerktopologie. Vlakken zijn niet opdelend van karakter, d.w.z. dat géén geometrische relaties (b.v. aansluitendheid) tussen verschillende exemplaren bestaan.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="OnroerendeZaak:_OnroerendeZaak">
            <xs:sequence>
               <xs:element name="uin" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Unieke Identificatie Netwerk. Een landelijk uitgegeven unieke
identificatie voor een netwerk.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="aard" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aanduiding van het soort transportsysteem.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="omschrijving" type="xs:integer" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Omschrijving van het leidingnetwerk. Kan o.m. de door de
eigenaar gehanteerde naam van het leidingnetwerk bevatten.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="begrenzing" type="OnroerendeZaak:VlakOfMultiLijnPropertyType"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De begrenzing van het leidingnetwerk als polygoon.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="hartlijn" type="OnroerendeZaak:VlakOfMultiLijnPropertyType" minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het geheel van gekoppelde lijnstukken die de ligging van een leidingnetwerk representeren.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="breedteNetwerkstrook" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Betrouwbaarheidsmarge rondom de hartlijn van het leidingnetwerk. Het opgegeven aantal centimeters wordt aan beide kanten van de hartlijn als marge gebruikt.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="_OnroerendeZaak" type="OnroerendeZaak:_OnroerendeZaak" abstract="true"
               substitutionGroup="NEN3610:RegistratiefGebied"/>
   <xs:complexType name="_OnroerendeZaak" abstract="true">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een Onroerende zaak is een Kadastraal object zijnde een perceel, een appartementsrecht of een leidingnetwerk. Zaken zijn de voor menselijke beheersing vatbare stoffelijke objecten. Onroerende zaken zijn de grond, de nog niet gewonnen delfstoffen, de met de grond verenigde beplantingen, alsmede de gebouwen en werken die duurzaam met de grond zijn verenigd, hetzij rechtstreeks, hetzij door vereniging met andere gebouwen of werken (art. 3:2 jo 3:3 lid 1 BW). Een onroerende zaak wordt aangeduid met een kadastrale aanduiding, dit is een unieke aanduiding die door het Kadaster wordt vastgesteld.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="NEN3610:RegistratiefGebied">
            <xs:sequence>
               <xs:element name="identificatie" type="NEN3610:NEN3610ID" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De Kadaster identificatie is een door het Kadaster toegekende landelijk uniek nummer aan dit object binnen de kadastrale registratie. 

Dit is een NEN3610 ID, waarbij het namespace gedeelte is: NL.IMKAD.OnroerendeZaak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="kadastraleAanduiding" type="OnroerendeZaak:TypeKadastraleAanduiding"
                           minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De unieke aanduiding van een onroerende zaak door vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de percelen, gedeelten van percelen en appartementsrechten zijn gelegen waarvan het grondgebied tot die zaak behoort, alsmede de nummers van die percelen. Art. 2 lid 1 Kadasterbesluit</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="landinrichtingsblokID" type="xs:integer" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De identificatie van het van toepassing zijnde
landinrichtingsblok.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="belastMet" type="OnroerendeZaak:TypeLandinrichtingsrente" minOccurs="0"
                           maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Landinrichtingsrente is het bedrag waarmee de Onroerende zaak is belast in het kader van de landinrichtingswet.
Opgebouwd uit de onderdelen Aanduiding Landinrichtingsrente, Bedrag Landinrichtingsrente, en Eindjaar Landinrichtingsrente.

Als twee percelen met elk  landinrichtingsrente-gegevens met verschillende eindjaren verenigd worden, worden beide landinrichtingsrente-gegevensgroepen bij het nieuwe perceel opgenomen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="aardCultuurOnbebouwd" type="Typen:Waardelijst" minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Omschrijving van de cultuur van een onroerende zaak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="aardCultuurBebouwd" type="Typen:Waardelijst" minOccurs="0"
                           maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Nadere omschrijving van de bebouwing van een onroerende zaak.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="omschrijvingOnderzoekErfdienstbaarheden" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Onroerende zaak kent enkel erfdienstbaarheden vanaf  een bepaalde gebeurtenis zoals omschrijven

Het onderzoek erfdienstbaarheden is uitgevoerd vanaf een bepaalde gebeurtenis. Voordien bestaan geen relevante erfdienstbaarheden.

Mogelijke waarden zijn:
- Onteigening
- Nieuwbouw
- Toedeling landinrichting</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="toestandsdatumOnderzoekErfdienstbaarheden" type="xs:date" minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het onderzoek erfdienstbaarheden is m.b.t. onroerende zaak uitgevoerd tot en met een bepaalde datum in het verleden. Eventueel voor die datum ingeschreven stukken inzake erfdienstbaarheden zijn niet vermeld. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="koopsom" type="OnroerendeZaak:TypeKoopsom" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Belangrijkste recht van onroerende zaak is verkregen voor bedrag met waarde. Bedrag waarvoor het eigendom is gekocht.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="toelichtingBewaarder" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Bevat een toelichtende tekst die de bewaarder vermeld wil hebben bij het kadastraal object.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="levensduur" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="NEN3610:Levensduur" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="historie" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="Historie:Historie" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="isVermeldIn" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Dit kadastraal object is vermeld in de benoemde stukdelen.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="StukRef:StukdeelRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="locatie" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De locatie van betreffende onroerende zaak.
Enkel bebouwde onroerende zaken kennen een locatie kadastraal object.

De Locatie van een Onroerende zaak wordt bepaald aan de hand van gegevens die:
- in het openbaar register zijn vermeld; 
- de gemeente verstrekt (wijzigingen in de landelijke voorziening BAG);
- de landmeter van het Kadaster vaststelt;</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="unbounded">
                        <xs:element ref="AdresRef:_ObjectlocatieBinnenlandRef"/>
                        <xs:element ref="AdresRef:KADBinnenlandsAdresRef"/>
                        <xs:element ref="BagAdresRef:LigplaatsRef"/>
                        <xs:element ref="BagAdresRef:StandplaatsRef"/>
                        <xs:element ref="BagAdresRef:VerblijfsobjectRef"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
               <xs:element name="inOnderzoek" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="InOnderzoek:InOnderzoek" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="ontstaanUitOZ" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="OnroerendeZaak:OnroerendeZaakFiliatie" minOccurs="1" maxOccurs="unbounded"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="OnroerendeZaakFiliatie" type="OnroerendeZaak:OnroerendeZaakFiliatie"
               abstract="false"/>
   <xs:complexType name="OnroerendeZaakFiliatie" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een Onroerende zaak filiatie geeft de relatie aan tussen een oude en een nieuwe Onroerende zaak. Het betreft hier de relatie tussen 2 percelen, 2 Appartementsrechten of 2 leidingnetwerken.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="aard" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding voor de aard van de filiatie.
Onroerende zaak filiatie wordt gebruikt om aan te geven hoe een onroerende zaak (historisch) tot stand gekomen is. Het geeft aan waarom het ene kadastrale object gerelateerd is aan het andere.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="overgangsgrootte" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De oppervlakte van het gedeelte van de oude Onroerende zaak dat opgegaan is in de nieuwe Onroerende zaak. De overgangsgrootte heeft uitsluitend betrekking op Onroerende zaak van het soort Perceel.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="10"/>
                  <xs:fractionDigits value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="betreftOZ" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="OnroerendeZaakRef:_OnroerendeZaakRef"/>
                  <xs:element ref="OnroerendeZaakRef:AppartementsrechtRef"/>
                  <xs:element ref="OnroerendeZaakRef:LeidingnetwerkRef"/>
                  <xs:element ref="OnroerendeZaakRef:PerceelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Perceel" type="OnroerendeZaak:Perceel" abstract="false"
               substitutionGroup="OnroerendeZaak:_OnroerendeZaak"/>
   <xs:complexType name="Perceel" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een kadastraal perceel is een onroerende zaak. Een kadastraal perceel is een kadastraal geïdentificeerd en met kadastrale grenzen begrensd deel van het Nederlands grondgebied (art. 1 lid 1 Kadasterwet).

Percelen worden cartografisch gerepresenteerd door een tweedimensionale vlakbegrenzing. Tussen alle kadastrale percelen in Nederland geldt een topologische relatie (opdelende vlakstructuur), d.w.z. dat naburige perceelsvlakken naadloos moeten aansluiten en elkaar niet mogen overlappen.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="OnroerendeZaak:_OnroerendeZaak">
            <xs:sequence>
               <xs:element name="begrenzingPerceel" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het geheel van lijnketens waarmee de vlakomtrek van een perceel wordt gevormd.
Een Perceel is een (2D) vlakvormig ruimtelijk object dat "opdelend" van structuur is. Dit betekent dat Nederland altijd naadloos en volledig is bedekt met perceelsvlakken, die elkaar niet mogen overlappen. De begrenzing van een perceel bestaat uit één of meer Kaartbegrenzingen (gesloten polylijnen). De buitenomtrek wordt altijd door één Kaartbegrenzing gevormd. Indien er enclaves zijn (gebied dat niet tot het perceelsvlak behoort) zijn ook de binnenomtrekken als kaartbegrenzing opgenomen. Elk Perceel wordt begrensd door andere percelen, uitgezonderd diegenen die aan buitenland (Belgie, Duitsland en Noordzee) grenzen. Een Kaartbegrenzing is opgebouwd uit één of meer Kaartlijnen (lijnketens). Elke niet onderbroken begrenzing tussen precies 2 percelen noemen we een Kaartlijn. De topologische relatie tussen 2 vlakbegrenzingen van aangrenzende percelen wordt afgedwongen doordat hun gemeenschappelijke begrenzing door dezelfde Kaartlijn wordt gevormd.
Een Kaartlijn ofwel lijnketen is opgebouwd uit opeenvolgend aansluitende kaartlijndelen, bestaande uit rechte en cirkelboogvormige lijnstukken.
Hoewel momenteel in de kadastrale percelenstructuur geen exclaves (buitenliggende vlakken) voorkomen, doet dit aan de definitie van Begrenzing perceel niets af.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="GML3:Surface" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="indicatieDeelperceel" type="xs:boolean" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan of het een deelperceel betreft.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="kadastraleGrootte" type="OnroerendeZaak:TypeOppervlak" minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een door de Dienst op grond van de kadastrale grenzen van een perceel berekende indicatieve grootte van een perceel ten tijde van vorming van dat perceel. Uitgedrukt in centi-ares. 
De grootte van een perceel geeft de waarde van de oppervlakte aan en is dus per definitie positief. Door afrondingen is de grootte altijd groter dan of gelijk aan 0,5 ca. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="soortGrootte" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan van welke soort de grootte van een perceel is. De waarden zijn opgenomen in een waardelijst.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="omschrijvingDeelpercelen" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het in een ter inschrijving aangeboden stuk beschreven tekst, dat een nadere omschrijving geeft van het gekochte deel van een perceel. 
Noot: de tekst is afkomstig van een register-9 post: een opdracht tot meting van een perceel. </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="perceelnummerRotatie" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Rotatie van het perceelnummer ten behoeve van afbeelding op de kaart. Perceelnummers worden bijvoorbeeld gekanteld om in een smal perceel te passen.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="9"/>
                        <xs:fractionDigits value="7"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="perceelnummerVerschuiving"
                           type="OnroerendeZaak:TypePerceelnummerVerschuiving"
                           minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Coördinaten voor het verschuiven van het perceelnummer op de kaart naar een locatie waar meer ruimte is om het nummer af te beelden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="plaatscoordinaten" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De aanduiding van een kaartpunt voor de weergave van de identificatie van een perceel (centroïde).

Door de keuze van het nulpunt geldt dat zowel de x-coordinaat als de y-coordinaat altijd positief zijn.  </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="GML3:Point" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="TypeKadastraleAanduiding" type="OnroerendeZaak:TypeKadastraleAanduiding"
               abstract="false"/>
   <xs:complexType name="TypeKadastraleAanduiding" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Kadastrale aanduiding is de unieke aanduiding van een onroerende zaak, die door het kadaster wordt vastgesteld.

Percelen worden kadastraal aangeduid door vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de percelen en gedeelten van percelen zijn gelegen waarvan het grondgebied tot die zaak behoort, alsmede de nummers van die percelen. Voor een onroerende zaak die zich krachtens een opstalrecht op, in of boven de grond van een ander bevindt, geldt dezelfde kadastrale aanduiding als van de onroerende zaak die met dat opstalrecht is bezwaard. Dit is van overeenkomstige toepassing op een onroerende zaak die zich op, in of boven de grond van een ander bevindt krachtens een recht als bedoeld in het voor 1 januari 1992 geldende artikel 5, derde lid, onder b, laatste zinsnede, van de Belemmeringenwet Privaatrecht. 

Appartementsrechten worden kadastraal aangeduid door de vermelding van achtereenvolgens de kadastrale gemeente en sectie, waarin de in de splitsing betrokken percelen zijn gelegen, de complexaanduiding en de appartementsindex. De complexaanduiding bestaat uit het voor de in de splitsing betrokken percelen vastgestelde complexnummer, gevolgd door de hoofdletter A. Onze Minister stelt regelen vast omtrent de vaststelling van het complexnummer. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AKRKadastraleGemeenteCode" type="Typen:Waardelijst" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">AKR code voor de kadastrale gemeente. De waarden komen uit een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="kadastraleGemeente" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De kadastrale gemeente, deel van de kadastrale aanduiding van de onroerende zaak. De waarden komen uit een waardenlijst.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="sectie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De sectie die de sectie binnen de kadastrale gemeente uniek identificeert. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="perceelnummer" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het perceelnummer dat een geheel perceel of een complex uniek identificeert binnen de sectie. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="appartementsrechtVolgnummer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Nummer dat het kadastraal object uniek identificeert als een appartementsrecht binnen het complex. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="4"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TypeKoopsom" type="OnroerendeZaak:TypeKoopsom" abstract="false"/>
   <xs:complexType name="TypeKoopsom" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De koopsom is het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of meer onroerende zaken zijn verkregen, alsmede het koopjaar en een indicator of het meerdere onroerende goederen betreft.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bedrag" type="Typen:Bedrag" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het in een ter inschrijving aangeboden stuk vermelde bedrag, waarvoor 1 of meer onroerende zaken zijn verkregen. Koopsom is altijd een positief bedrag. Dit is een bedrag (omgerekend naar) euro's. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="koopjaar" type="xs:gYear" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het jaar waarin het belangrijkste recht van het kadastraal object is verkregen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="indicatieMeerObjecten" type="xs:boolean" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan of de koopsom betrekking heeft op meer dan 1 kadastraal object.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TypeLandinrichtingsrente" type="OnroerendeZaak:TypeLandinrichtingsrente"
               abstract="false"/>
   <xs:complexType name="TypeLandinrichtingsrente" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De rente die berekend wordt over de percelen die in een herverkavelingblok van een landinrichtingsproject hebben gelegen. Deze rente wordt berekend om de niet gesubsidieerde kosten van het herverkavelingproject te dekken.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bedrag" type="Typen:Bedrag" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het bedrag waarmee de Onroerende zaak is belast in het kader van de landinrichtingswet. 

Let op: Het bedrag is in AKR in euro-centen opgenomen!</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="eindjaar" type="xs:gYear" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het laatste kalenderjaar waarin de rente in het kader van landinrichtingswet nog verschuldigd is.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TypeOppervlak" type="OnroerendeZaak:TypeOppervlak" abstract="false"/>
   <xs:complexType name="TypeOppervlak" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Oppervlakte.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="waarde" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Oppervlak grootte, in vierkante meters. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:decimal">
                  <xs:totalDigits value="10"/>
                  <xs:fractionDigits value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="indicatieGeschat" type="xs:boolean" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Indicatie of de waarde is geschat, in plaats van vastgesteld.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="TypePerceelnummerVerschuiving"
               type="OnroerendeZaak:TypePerceelnummerVerschuiving"
               abstract="false"/>
   <xs:complexType name="TypePerceelnummerVerschuiving" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Verschuiving van het perceelnummer ten behoeve van visualisatie op een kaart. Dit voorkomt dat perceelnummers van kleine percelen elkaar overlappen.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="deltaX" type="xs:decimal" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Verschuiving op de X as.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="deltaY" type="xs:decimal" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Verschuiving op de Y as.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="LijnOfBoogPropertyType" type="OnroerendeZaak:LijnOfBoogPropertyType"
               abstract="false"/>
   <xs:complexType name="LijnOfBoogPropertyType" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">GML extensie voor een geometrie attribuut dat of een lijn, of een boog mag bevatten.</xs:documentation>
      </xs:annotation>
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element ref="GML3:LineString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Keuze.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="GML3:ArcString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Keuze.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:element name="MultiLineArc" type="OnroerendeZaak:MultiLineArc" abstract="false"/>
   <xs:complexType name="MultiLineArc" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een verzameling gml:LineStrings en/of gml:ArcStrings.</xs:documentation>
      </xs:annotation>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element ref="GML3:LineString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Keuze.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="GML3:ArcString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Keuze.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:element name="VlakOfMultiLijnPropertyType"
               type="OnroerendeZaak:VlakOfMultiLijnPropertyType"
               abstract="false"/>
   <xs:complexType name="VlakOfMultiLijnPropertyType" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De begrenzing van een leidingnetwerk kan zowel lijnvormig als vlakvormig worden beschreven. Lijnvormig houdt in dat het leidingnetwerk bestaat uit een netwerk van lijnketens, die onderling minimaal een punt in de keten gemeenschappelijk hebben. Vlakvormig houdt in dat de lijnketens onderling zodanig met elkaar zijn verbonden dat een vlakvormige figuur (polylijn) is af te leiden. In het lijnvormige geval kan ook de strookbreedte, waarbinnen de grenslijn ligt, zijn opgenomen. In zo'n geval is, indien nodig, een vlakvormige figuur te berekenen.</xs:documentation>
      </xs:annotation>
      <xs:choice minOccurs="1" maxOccurs="1">
         <xs:element name="multilijn" type="OnroerendeZaak:MultiLineArc" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Keuze.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="GML3:Surface" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Keuze.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
</xs:schema>