xmlschema/201506 Beta/IMKAD/IMKAD-AanvullendeProcesInfo/v20150301/IMKAD_AanvullendeProcesInfo_v1_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:api="http://www.kadaster.nl/schemas/IMKAD/IMKAD-AanvullendeProcesInfo/v20150301"
           xmlns:h="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20150301"
           xmlns:ko-ref="http://www.kadaster.nl/schemas/IMKAD/IMKAD-kadastraalobject-ref/v20150301"
           xmlns:oz-ref="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20150301"
           xmlns:p-ref="http://www.kadaster.nl/schemas/IMKAD/IMKAD-persoon-ref/v20120508"
           xmlns:s-ref="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20150301"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-AanvullendeProcesInfo/v20150301"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0.0-2">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/schema-info/uri">http://www.kadaster.nl/schemas/IMKAD/IMKAD-AanvullendeProcesInfo</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/version">1.0.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/phase">2</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/release">20150301</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/generated">2015-06-10 13:27:00</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/schema-info/svn">$Id$</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/file-location">IMKAD-AanvullendeProcesInfo/v20150301/IMKAD_AanvullendeProcesInfo_v1_0_0.xsd</xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
            This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
        </xs:documentation>
      <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Dit package bevat de klasssen die procesgegevens bevatten die binnen de informatie uitwisseling tussen applicaties van belang zijn. </xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-historie/v20150301"
              schemaLocation="../../IMKAD-historie/v20150301/IMKAD_Historie_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-kadastraalobject-ref/v20150301"
              schemaLocation="../../IMKAD-kadastraalobject-ref/v20150301/IMKAD_KadastraalObjectRef_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-onroerendezaak-ref/v20150301"
              schemaLocation="../../IMKAD-onroerendezaak-ref/v20150301/IMKAD_OnroerendeZaakRef_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-persoon-ref/v20120508"
              schemaLocation="../../IMKAD-persoon-ref/v20120508/IMKAD_PersoonRef_v2_2_0.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-stuk-ref/v20150301"
              schemaLocation="../../IMKAD-stuk-ref/v20150301/IMKAD_StukRef_v2_2_0.xsd"/>
   <xs:element name="AttenderingKadastraalObject"
               type="api:AttenderingKadastraalObject"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Een AttenderingKadastraalObject is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een kadastraal object is vermeld, niet de BRK verwerkt kan worden omdat het niet voldoet niet aan de inschrijving- of verwerkingsvereisten.

Toelichting:
Het stuk kan pas worden verwerkt nadat door de aanbieder een verbetering ter inschrijving is aanboden. Ook kan het voorkomen dat het stuk door de aanbieder alsnog wordt ingetrokken.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AttenderingKadastraalObject" abstract="false">
      <xs:sequence>
         <xs:element name="auditTrail" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de status van de registratie van dit voorkomen.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:AuditTrail" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="ko-ref:_KadastraalObjectRef"/>
                  <xs:element ref="oz-ref:_OnroerendeZaakRef"/>
                  <xs:element ref="oz-ref:AppartementsrechtRef"/>
                  <xs:element ref="oz-ref:LeidingnetwerkRef"/>
                  <xs:element ref="oz-ref:PerceelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="AttenderingPersoon"
               type="api:AttenderingPersoon"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Een AttenderingPersoon is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een persoon is vermeld, niet de BRK verwerkt kan worden omdat het niet voldoet niet aan de inschrijving- of verwerkingsvereisten.

Toelichting:
Het stuk kan pas worden verwerkt nadat door de aanbieder een verbetering ter inschrijving is aanboden. Ook kan het voorkomen dat het stuk door de aanbieder alsnog wordt ingetrokken.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="AttenderingPersoon" abstract="false">
      <xs:sequence>
         <xs:element name="auditTrail" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de status van de registratie van dit voorkomen.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:AuditTrail" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="p-ref:_PersoonRef"/>
                  <xs:element ref="p-ref:NatuurlijkPersoonRef"/>
                  <xs:element ref="p-ref:NietNatuurlijkPersoonRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SignaleringKadastraalObject"
               type="api:SignaleringKadastraalObject"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Een SignaleringKadastraalObject is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een kadastraal object is vermeld, nog niet (volledig) in de BRK is verwerkt.

Toelichting:
Het verwerkingsproces bij het Kadaster is nog niet afgerond.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SignaleringKadastraalObject" abstract="false">
      <xs:sequence>
         <xs:element name="auditTrail" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de status van de registratie van dit voorkomen.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:AuditTrail" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="ko-ref:_KadastraalObjectRef"/>
                  <xs:element ref="oz-ref:_OnroerendeZaakRef"/>
                  <xs:element ref="oz-ref:AppartementsrechtRef"/>
                  <xs:element ref="oz-ref:LeidingnetwerkRef"/>
                  <xs:element ref="oz-ref:PerceelRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SignaleringPersoon"
               type="api:SignaleringPersoon"
               abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Een SignaleringPersoon is een waarschuwing dat een ter inschrijving aangeboden stuk, waarin een persoon is vermeld, nog niet (volledig) in de BRK is verwerkt.

Toelichting:
Het verwerkingsproces bij het Kadaster is nog niet afgerond.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SignaleringPersoon" abstract="false">
      <xs:sequence>
         <xs:element name="auditTrail" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de status van de registratie van dit voorkomen.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:AuditTrail" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="historie" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/schema-info/technical-documentation">

---CDMKAD (20150201)---
Gegevens omtrent de historie van een voorkomen van dit type.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="h:KadasterHistorie" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="van" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element ref="s-ref:TerInschrijvingAangebodenStukRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="tenBehoeveVan" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:choice minOccurs="1" maxOccurs="unbounded">
                  <xs:element ref="p-ref:_PersoonRef"/>
                  <xs:element ref="p-ref:NatuurlijkPersoonRef"/>
                  <xs:element ref="p-ref:NietNatuurlijkPersoonRef"/>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
