xmlschema/2.1.1/IMKAD/IMKAD-brp-persoon/v20120508/IMKAD_BrpPersoon_v2_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:BrpPersoon="http://www.kadaster.nl/schemas/IMKAD/IMKAD-brp-persoon/v20120508"
           xmlns:Adres="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres/v20120508"
           xmlns:Persoon="http://www.kadaster.nl/schemas/IMKAD/IMKAD-persoon/v20120508"
           xmlns:Typen="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-brp-persoon/v20120508"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2.1.1-3">
   <xs:annotation>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/uri">http://www.kadaster.nl/schemas/IMKAD/IMKAD-brp-persoon</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/version">2.1.1</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/phase">3</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/release">20120508</xs:appinfo>
      <xs:appinfo source="http://www.kadaster.nl/schema-info/svn">$Id$</xs:appinfo>
      <xs:documentation source="http://www.kadaster.nl/schema-info/file-location">IMKAD-brp-persoon/v20120508/IMKAD_BrpPersoon_v2_1_1.xsd</xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/conversion">
        Dit schema is samengesteld in overeenstemming met de codeerregels vastgelegd in  
        "ISO 19118: Text of 19118 Geographic information - Encoding, as sent to the ISO Central 
        Secretariat for publication"
    </xs:documentation>
      <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Dit package bevat alle klassen die behoren bij de representatie van binnen BRP geregistreerde personen.

Voor meer informatie tav. BRP: http://www.moderniseringgba.nl/nederlands/Basisregistratie_Personen_BRP</xs:documentation>
   </xs:annotation>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-adres/v20120508"
              schemaLocation="../../IMKAD-adres/v20120508/IMKAD_Adres_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-persoon/v20120508"
              schemaLocation="../../IMKAD-persoon/v20120508/IMKAD_Persoon_v2_1_1.xsd"/>
   <xs:import namespace="http://www.kadaster.nl/schemas/IMKAD/IMKAD-typen/v20111122"
              schemaLocation="../../IMKAD-typen/v20111122/IMKAD_Typen_v2_1_1.xsd"/>
   <xs:element name="BuitenlandsAdres" type="BrpPersoon:BuitenlandsAdres" abstract="false"
               substitutionGroup="Adres:_ObjectlocatieBuitenland"/>
   <xs:complexType name="BuitenlandsAdres" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een locatie in het buitenland bestaat uit een aantal adresregels, te weten:
- Plaatsnaam en postcode.
- Regio.
- Straatnaam en huisnummer;
- Landnaam </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Adres:_ObjectlocatieBuitenland">
            <xs:sequence>
               <xs:element name="adres" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Bevat straatnaam en huisnummer. </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="woonplaats" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Bevat postcode en woonplaats. </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="80"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="regio" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het district: de staat of provincie of regio.</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:maxLength value="39"/>
                        <xs:pattern value="\S.*"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="land" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De mogelijke waarden zijn vastgelegd in een waardenlijst.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Geboorte" type="BrpPersoon:Geboorte" abstract="false"/>
   <xs:complexType name="Geboorte" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens over de geboorte van de persoon.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="geboortedatum" type="Typen:TypeOnvolledigeDatum" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De geboortedatum. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geboorteplaats" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De plaatsnaam van de plaats waar de persoon geboren is. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="80"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="geboorteland" type="Typen:Waardelijst" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het land waar de persoon geboren is.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="_GeregistreerdPersoon" type="BrpPersoon:_GeregistreerdPersoon"
               abstract="true"
               substitutionGroup="Persoon:_NatuurlijkPersoon"/>
   <xs:complexType name="_GeregistreerdPersoon" abstract="true">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geregistreerde persoon binnen GBA. Gegevens over de ingeschrevene.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="Persoon:_NatuurlijkPersoon">
            <xs:sequence>
               <xs:element name="BSN" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het burgerservicenummer, bedoeld in artikel 1.1 van de Wet algemene
bepalingen burgerservicenummer</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                     <xs:restriction base="xs:integer">
                        <xs:totalDigits value="9"/>
                     </xs:restriction>
                  </xs:simpleType>
               </xs:element>
               <xs:element name="naam" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Naam van de geregistreerd persoon.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="BrpPersoon:Naam" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="geslacht" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geslacht van de geregistreerd persoon.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="BrpPersoon:Geslacht" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="adellijkeTitelOfPredikaat" type="Typen:Waardelijst" minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding, voorkomend in BRP-tabel 38  Tabel Adellijke titel/predikaat, die aangeeft welke titel of welk predikaat behoort tot de naam (bij adellijke titel geslachtsnaam, bij predikaat voornaam).

Voorbeelden zijn BS, Barones (Adellijke titel) en JH, Jonkheer(predikaat) </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="aanduidingNaamgebruik" type="Typen:Waardelijst" minOccurs="0"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Aanduiding op basis waarvan de juiste naamgeving voor correspondentie kan worden bepaald wanneer een voernaam bij de persoon aanwezig is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geboorte" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geboorte gegevens van de geregistreerd persoon..</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="BrpPersoon:Geboorte" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="overlijden" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens tav. van het overlijden van de geregistreerd persoon.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="BrpPersoon:Overlijden" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="inOnderzoek" minOccurs="0" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Indien bij GBA twijfel bestaat omtrent de juistheid van de geregistreerde gegevens worden deze in onderzoek geplaatst.</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="BrpPersoon:Procedure" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
               <xs:element name="indicatieGeheim" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een aanduiding die aangeeft dat gegevens wel of niet verstrekt mogen worden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="heeftPartnerschap" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element ref="BrpPersoon:Partnerschap" minOccurs="1" maxOccurs="1"/>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Geslacht" type="BrpPersoon:Geslacht" abstract="false"/>
   <xs:complexType name="Geslacht" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De aanduiding van het geslacht van de persoon.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="geslachtsaanduiding" type="Typen:Waardelijst" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Het geslacht van de persoon (man, vrouw, of onbekend). </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geslachtsaanduidingAanschrijving" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De geslachtsaanduiding waarmee de persoon wordt aangeschreven.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="75"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Ingezetene" type="BrpPersoon:Ingezetene" abstract="false"
               substitutionGroup="BrpPersoon:_GeregistreerdPersoon"/>
   <xs:complexType name="Ingezetene" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Ingezetene, opgenomen in het GBA.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="BrpPersoon:_GeregistreerdPersoon">
            <xs:sequence/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Naam" type="BrpPersoon:Naam" abstract="false"/>
   <xs:complexType name="Naam" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De geslachtsnaam, voorletters en voornamen die men wil gebruiken bij aanschrijving. </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="geslachtsnaam" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De achternaam, exclusief voorvoegsels.  </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="voornamen" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De voornamen van de persoon. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="voorvoegselsgeslachtsnaam" minOccurs="0" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Voorvoegsels bij de geslachtsnaam.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                  <xs:pattern value="\S.*"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="NietIngezetene" type="BrpPersoon:NietIngezetene" abstract="false"
               substitutionGroup="BrpPersoon:_GeregistreerdPersoon"/>
   <xs:complexType name="NietIngezetene" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Niet ingezetene, opgenomen in het RNI.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="BrpPersoon:_GeregistreerdPersoon">
            <xs:sequence>
               <xs:element name="landWaarnaarVertrokken" type="Typen:Waardelijst" minOccurs="1"
                           maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Een code die het land aangeeft dat de ingeschrevene opgeeft bij vertrek naar het buitenland.

GBA rubriek 08.13.10</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:element name="Overlijden" type="BrpPersoon:Overlijden" abstract="false"/>
   <xs:complexType name="Overlijden" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Gegevens over het overlijden van de persoon.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="datumOverlijden" type="Typen:TypeOnvolledigeDatum" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De datum waarop de persoon overleden is.  </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Partnerschap" type="BrpPersoon:Partnerschap" abstract="false"/>
   <xs:complexType name="Partnerschap" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Vastlegging van een geregistreerd partnerschap.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="naamPartner" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Naam van de partner.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element ref="BrpPersoon:Naam" minOccurs="1" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="datumSluiting" type="Typen:TypeOnvolledigeDatum" minOccurs="1"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Datum huwelijkssluiting/aangaan geregistreerd partnerschap</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="datumOntbinding" type="Typen:TypeOnvolledigeDatum" minOccurs="0"
                     maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Datum ontbinding huwelijk/geregistreerd partnerschap</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="Procedure" type="BrpPersoon:Procedure" abstract="false"/>
   <xs:complexType name="Procedure" abstract="false">
      <xs:annotation>
         <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Indien bij GBA twijfel bestaat omtrent de juistheid van de geregistreerde gegevens worden deze in onderzoek geplaatst ("Procedure").</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="datumEinde" type="xs:date" minOccurs="0" maxOccurs="1"/>
         <xs:element name="aanduidingGegevensInOnderzoek" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">Geeft aan welke gegevens in onderzoek zijn: 
- Indien voor één gegeven een onderzoek loopt, wordt het elementnummer ingevuld.
- Indien bij meerdere gegevens uit een groep een onderzoek loopt, wordt het betreffende categorienummer, aangevuld met 0000 ingevuld.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:integer">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="datumIngang" type="xs:date" minOccurs="1" maxOccurs="1">
            <xs:annotation>
               <xs:documentation source="http://www.kadaster.nl/schema-info/technical-documentation">De datum waarop een gegeven in onderzoek is genomen.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>