xmlschema/2.1.1/gmx/catalogues.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmx" version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 04-27-2005 17:16:11 ====== Handcrafted</xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmx/uomItem.xsd"/>
	<xs:include schemaLocation="../gmx/codelistItem.xsd"/>
	<xs:include schemaLocation="../gmx/crsItem.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType abstract="true" name="AbstractCT_Catalogue_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="name" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" name="scope" type="gco:CharacterString_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="fieldOfApplication" type="gco:CharacterString_PropertyType"/>
					<xs:element name="versionNumber" type="gco:CharacterString_PropertyType"/>
					<xs:element name="versionDate" type="gco:Date_PropertyType"/>
					<xs:element minOccurs="0" name="language" type="gco:CharacterString_PropertyType"/>
					<xs:element minOccurs="0" name="characterSet" type="gmd:MD_CharacterSetCode_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="locale" type="gmd:PT_Locale_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="subCatalogue" type="gmx:CT_Catalogue_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element abstract="true" name="AbstractCT_Catalogue" type="gmx:AbstractCT_Catalogue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_Catalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:AbstractCT_Catalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="CT_CodelistCatalogue_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractCT_Catalogue_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="codelistItem" type="gmx:CT_Codelist_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CT_CodelistCatalogue" substitutionGroup="gmx:AbstractCT_Catalogue" type="gmx:CT_CodelistCatalogue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_CodelistCatalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:CT_CodelistCatalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="CT_CrsCatalogue_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractCT_Catalogue_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="crs" type="gmx:CT_CRS_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="coordinateSystem" type="gmx:CT_CoordinateSystem_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="axis" type="gmx:CT_CoordinateSystemAxis_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="datum" type="gmx:CT_Datum_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="ellipsoid" type="gmx:CT_Ellipsoid_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="primeMeridian" type="gmx:CT_PrimeMeridian_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="gmx:CT_Operation_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="operationMethod" type="gmx:CT_OperationMethod_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" type="gmx:CT_OperationParameters_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CT_CrsCatalogue" substitutionGroup="gmx:AbstractCT_Catalogue" type="gmx:CT_CrsCatalogue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_CrsCatalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:CT_CrsCatalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="CT_UomCatalogue_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractCT_Catalogue_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="uomItem" type="gmx:UnitDefinition_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="CT_UomCatalogue" substitutionGroup="gmx:AbstractCT_Catalogue" type="gmx:CT_UomCatalogue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="CT_UomCatalogue_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:CT_UomCatalogue"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>