xmlschema/2.1.1/gmx/gmxUsage.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gmx" version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 04-27-2005 17:15:30 ====== </xs:documentation>
	</xs:annotation>
	<!-- ================================== Imports ================================== -->
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:include schemaLocation="../gmx/catalogues.xsd"/>
	<xs:include schemaLocation="../gmx/extendedTypes.xsd"/>
	<!-- ########################################################################### -->
	<!-- ########################################################################### -->
	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MX_Aggregate_Type">
		<xs:complexContent>
			<xs:extension base="gmd:AbstractDS_Aggregate_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="aggregateCatalogue" type="gmx:CT_Catalogue_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="aggregateFile" type="gmx:MX_SupportFile_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_Aggregate" substitutionGroup="gmd:AbstractDS_Aggregate" type="gmx:MX_Aggregate_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_Aggregate_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_Aggregate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_DataSet_Type">
		<xs:complexContent>
			<xs:extension base="gmd:DS_DataSet_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="dataFile" type="gmx:MX_DataFile_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="datasetCatalogue" type="gmx:CT_Catalogue_PropertyType"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="supportFile" type="gmx:MX_SupportFile_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_DataSet" substitutionGroup="gmd:DS_DataSet" type="gmx:MX_DataSet_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_DataSet_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_DataSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_DataFile_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractMX_File_Type">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="featureTypes" type="gco:GenericName_PropertyType"/>
					<xs:element name="fileFormat" type="gmd:MD_Format_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_DataFile" substitutionGroup="gmx:AbstractMX_File" type="gmx:MX_DataFile_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_DataFile_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_DataFile"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MX_SupportFile_Type">
		<xs:complexContent>
			<xs:extension base="gmx:AbstractMX_File_Type"/>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MX_SupportFile" substitutionGroup="gmx:AbstractMX_File" type="gmx:MX_SupportFile_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_SupportFile_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_SupportFile"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType abstract="true" name="AbstractMX_File_Type">
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="fileName" type="gmx:FileName_PropertyType"/>
					<xs:element name="fileDescription" type="gco:CharacterString_PropertyType"/>
					<xs:element name="fileType" type="gmx:MimeFileType_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element abstract="true" name="AbstractMX_File" type="gmx:AbstractMX_File_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_File_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:AbstractMX_File"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
	<!-- ........................................................................ -->
	<xs:element name="MX_ScopeCode" substitutionGroup="gmd:MD_ScopeCode" type="gco:CodeListValue_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MX_ScopeCode_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmx:MX_ScopeCode"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>